In [6]:
import pandas as pd
import xml.etree.ElementTree as ET

**Leer txt en csv para y revisar que información contiene**

In [8]:
archivo_txt = pd.read_csv("./data_txt_clean.txt", sep= ";")
archivo_txt.head()

,index,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,...,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
0,0,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,...,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None
1,1,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,...,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN
2,2,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,A laptop,Never,I do not use machine learning methods,Academics/Education,...,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Other,Matplotlib,NaN,NaN,None of these activities are an important par...,"MySQL , MongoDB",None
3,3,Mexico,Doctoral degree,Research Scientist,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",More than 25 times,5-10 years,Academics/Education,...,"Local development environments (RStudio, Jupyt...",Python,"Spyder,Jupyter Notebook",NVIDIA GPUs,Matplotlib,"Scikit-learn , TensorFlow ,Keras","Dense Neural Networks (MLPs, etc), Convolutio...",Do research that advances the state of the ar...,NaN,NaN
4,4,India,Doctoral degree,Other,< 1 years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,10-20 years,Academics/Education,...,"Local development environments (RStudio, Jupyt...","Python, C, MATLAB","Spyder,MATLAB ,Jupyter Notebook",None,"Matplotlib ,Seaborn ,Ggplot / ggplot2","Scikit-learn ,PyTorch ,LightGBM","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,None,Microsoft Power BI

**Leer csv para revisar su contenido**

In [9]:
archivo_csv = pd.read_csv("./exported_db_data.csv")
archivo_csv.head()

,index,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
0,0,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN

**Leer xml para revisar su contenido**

In [10]:
archivo_xml = pd.read_csv("./data_xml_clean.xml")
archivo_xml.head()

                     <data>
0                     <row>
1      <level_0>0</level_0>
2          <index>0</index>
3          <time>910</time>
4          <age>50-54</age>

**Extraer información de xml para mejor adaptación a Csv.**

In [12]:

tree = ET.parse("data_xml_clean.xml")
root = tree.getroot()

edad = []
time = []
gender = []
index = []

for child in root:
    for subchild in child:
        if subchild.tag == "age":
            edad.append(subchild.text)
        elif subchild.tag == "time":
            time.append(subchild.text)
        elif subchild.tag == "gender":
            gender.append(subchild.text)
        elif subchild.tag == "index":
            index.append(subchild.text)

**Crear un DF haciendo ZIP a nuestras listas.**

In [13]:
df_xml = pd.DataFrame(list(zip(index,edad,time,gender)), columns = ["index","edad","time", "gender"])
df_xml

       index   edad  time gender
0          0  50-54   910    Man
1          1  50-54   784    Man
2          2  22-24   924    Man
3          3  45-49   575    Man
4          4  45-49   781    Man
...      ...    ...   ...    ...
25968  25968  30-34  1756    Man
25969  25969  22-24   253    Man
25970  25970  50-54   494    Man
25971  25971  45-49   277    Man
25972  25972  18-21   255    Man

[25973 rows x 4 columns]

Comprobamos que los 3 datasets miden lo mismo.

In [14]:
print(archivo_txt.shape)
print(df_xml.shape)
print(archivo_csv.shape)

(25973, 27)
(25973, 4)
(25973, 18)

Unir los 3 archivos ( txt,csv y xml) en un CVS

In [15]:
concat_archivos = pd.concat([df_xml, archivo_txt, archivo_csv], axis=1)
concat_archivos.head()

,index,edad,time,gender,index,Q3,Q4,Q5,Q6,Q8,...,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
0,0,50-54,910,Man,0,India,Bachelor’s degree,Other,5-10 years,Python,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,50-54,784,Man,1,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,22-24,924,Man,2,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,45-49,575,Man,3,Mexico,Doctoral degree,Research Scientist,20+ years,Python,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,45-49,781,Man,4,India,Doctoral degree,Other,< 1 years,Python,...,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN

Eliminamos la columna 'index'

In [ ]:
del concat_archivos["index"]
print(concat_archivos.columns)

In [21]:
concat_archivos.head(3)

,edad,time,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q13,...,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
0,50-54,910,Man,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,50-54,784,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,22-24,924,Man,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,A laptop,Never,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
concat_archivos.to_csv("union_3_archivos.csv")

- Visualizar nuevo cvs
- Visualizar todas las columnas con pd.options.display.max_columns = None 
- Extraer la info del nuevo DF df.info
- Extraer datos estadisticos df.describe
- ver null que podamos encontrar dfisnull().sum()
- Borrar filas o columnas del (este metodo solo elimina de uno en uno)o drop(este lo hace todo a la vez)
- Homogeneizar las columnas 
- Elegir el índice de las columnas
- reindex para ordenar las columnas

In [27]:
union_3_archivos = pd.read_csv("union_3_archivos.csv", index_col = 0)
union_3_archivos.head()

,edad,time,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q13,...,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
0,50-54,910,Man,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,50-54,784,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,22-24,924,Man,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,A laptop,Never,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,45-49,575,Man,Mexico,Doctoral degree,Research Scientist,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",More than 25 times,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,45-49,781,Man,India,Doctoral degree,Other,< 1 years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,...,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
print(union_3_archivos.columns)
print(union_3_archivos.shape)

Index(['edad', 'time', 'gender', 'Q3', 'Q4', 'Q5', 'Q6', 'Q8', 'Q11', 'Q13',
       'Q15', 'Q20', 'Q21', 'Q22', 'Q23', 'Q25', 'Q26', 'Q33', 'Q35', 'Q41',
       'Q7', 'Q9', 'Q12', 'Q14', 'Q16', 'Q17', 'Q24', 'Q32', 'Q34',
       'Q10_Part_1', 'Q10_Part_2', 'Q10_Part_3', 'Q10_Part_4', 'Q10_Part_5',
       'Q10_Part_6', 'Q10_Part_7', 'Q10_Part_8', 'Q10_Part_9', 'Q10_Part_10',
       'Q10_Part_11', 'Q10_Part_12', 'Q10_Part_13', 'Q10_Part_14',
       'Q10_Part_15', 'Q10_Part_16', 'Q10_OTHER'],
      dtype='object')
(25973, 46)

In [40]:
pd.options.display.max_columns = None

In [44]:
union_3_archivos['Q10_Part_1'].size

25973

In [42]:
union_3_archivos[union_3_archivos.Q10_Part_1.notnull()].size

437322

In [46]:
union_3_archivos.isnull().sum()

edad               0
time               0
gender             0
Q3                 0
Q4                 0
Q5                 0
Q6                 0
Q8              1033
Q11             1253
Q13             1570
Q15             2219
Q20             9648
Q21             9722
Q22             9847
Q23            10021
Q25            10582
Q26            10790
Q33            21317
Q35            23736
Q41             7484
Q7              1032
Q9              1039
Q12             1391
Q14             2003
Q16             6349
Q17             6658
Q24            10338
Q32            16489
Q34            16574
Q10_Part_1     16466
Q10_Part_2     16181
Q10_Part_3     24911
Q10_Part_4     25764
Q10_Part_5     24203
Q10_Part_6     25798
Q10_Part_7     24906
Q10_Part_8     25220
Q10_Part_9     25625
Q10_Part_10    23922
Q10_Part_11    24179
Q10_Part_12    25383
Q10_Part_13    25722
Q10_Part_14    25713
Q10_Part_15    25826
Q10_Part_16    18799
Q10_OTHER      25236
dtype: int64

In [ ]:
copia_archivo_union = union_3_archivos.copy()
copia_archivo_union.reindex('edad', 'gender', 'country')