In [1]:
import pandas as pd
import xml.etree.ElementTree as ET
import numpy as np

# **Leer txt en csv para y revisar que informaci贸n contiene**

In [2]:
archivo_txt = pd.read_csv("./data_txt_clean.txt", sep= ";")
archivo_txt.head(2)

,index,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,...,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
0,0,India,Bachelors degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,...,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None
1,1,Indonesia,Masters degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,...,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN

# **Leer csv para revisar su contenido**

In [3]:
archivo_csv = pd.read_csv("./exported_db_data.csv")
archivo_csv.head(2)

,index,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
0,0,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# **Leer xml para revisar su contenido**

In [4]:
archivo_xml = pd.read_csv("./data_xml_clean.xml")
archivo_xml.head()

                     <data>
0                     <row>
1      <level_0>0</level_0>
2          <index>0</index>
3          <time>910</time>
4          <age>50-54</age>

<font color=green>**Extraer informaci贸n de xml para mejor adaptaci贸n a Csv, creando esta funci贸n para los valores de edad, time, gender e index**</font>

In [5]:

tree = ET.parse("data_xml_clean.xml")
root = tree.getroot()

edad = []
time = []
gender = []
index = []

for child in root:
    for subchild in child:
        if subchild.tag == "age":
            edad.append(subchild.text)
        elif subchild.tag == "time":
            time.append(subchild.text)
        elif subchild.tag == "gender":
            gender.append(subchild.text)
        elif subchild.tag == "index":
            index.append(subchild.text)

<font color=green>**Crear un DF haciendo ZIP a nuestras listas.**</font>

In [6]:
df_xml = pd.DataFrame(list(zip(index,edad,time,gender)), columns = ["index","edad","time", "gender"])
df_xml

       index   edad  time gender
0          0  50-54   910    Man
1          1  50-54   784    Man
2          2  22-24   924    Man
3          3  45-49   575    Man
4          4  45-49   781    Man
...      ...    ...   ...    ...
25968  25968  30-34  1756    Man
25969  25969  22-24   253    Man
25970  25970  50-54   494    Man
25971  25971  45-49   277    Man
25972  25972  18-21   255    Man

[25973 rows x 4 columns]

# **Leer nuevo archivo subido (kaggle) csv**

In [7]:
archivo_kaggle = pd.read_csv("data_remaning_kaggle.csv")
archivo_kaggle.head(2)

,Unnamed: 0,index,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,0,0,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN

In [8]:
#Queremos ver cuantas columnas hay en este archivo
archivo_kaggle.columns

Index(['Unnamed: 0', 'index', 'Q18_Part_1', 'Q18_Part_2', 'Q18_Part_3',
       'Q18_Part_4', 'Q18_Part_5', 'Q18_Part_6', 'Q18_OTHER', 'Q19_Part_1',
       ...
       'Q38_B_Part_3', 'Q38_B_Part_4', 'Q38_B_Part_5', 'Q38_B_Part_6',
       'Q38_B_Part_7', 'Q38_B_Part_8', 'Q38_B_Part_9', 'Q38_B_Part_10',
       'Q38_B_Part_11', 'Q38_B_OTHER'],
      dtype='object', length=214)

# Uni贸n archivos


<font color=green>**Unir los 4 archivos ( txt, csv, xml, kaggle.csv) en un CSV 煤nico.**</font>

In [9]:
concat_archivos = pd.concat([df_xml, archivo_txt, archivo_csv, archivo_kaggle], axis=1)
concat_archivos

,index,edad,time,gender,index,Q3,Q4,Q5,Q6,Q8,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,0,50-54,910,Man,0,India,Bachelors degree,Other,5-10 years,Python,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,50-54,784,Man,1,Indonesia,Masters degree,Program/Project Manager,20+ years,Python,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
2,2,22-24,924,Man,2,Pakistan,Masters degree,Software Engineer,1-3 years,Python,...,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,45-49,575,Man,3,Mexico,Doctoral degree,Research Scientist,20+ years,Python,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4,4,45-49,781,Man,4,India,Doctoral degree,Other,< 1 years,Python,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25968,25968,30-34,1756,Man,25968,Egypt,Bachelors degree,Data Analyst,1-3 years,Python,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25969,25969,22-24,253,Man,25969,China,Masters degree,Student,1-3 years,Python,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25970,25970,50-54,494,Man,25970,Sweden,Doctoral degree,Research Scientist,I have never written code,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
25971,25971,45-49,277,Man,25971,United States of America,Masters degree,Data Scientist,5-10 years,Python,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25972,25972,18-21,255,Man,25972,India,Bachelors degree,Business Analyst,I have never written code,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN

In [10]:
#Comprobamos que suma de las columnas coinciden con las columnas totales despu茅s de haber hecho la uni贸n.

print(archivo_txt.shape)
print(df_xml.shape)
print(archivo_csv.shape)
print(archivo_kaggle.shape)

(25973, 27)
(25973, 4)
(25973, 18)
(25973, 214)

In [11]:
#Eliminamos la columna "index" , cada archivo contiene una y hemos decidido eliminarlos primero.
del concat_archivos["index"]
print(concat_archivos.columns)

Index(['edad', 'time', 'gender', 'Q3', 'Q4', 'Q5', 'Q6', 'Q8', 'Q11', 'Q13',
       ...
       'Q38_B_Part_3', 'Q38_B_Part_4', 'Q38_B_Part_5', 'Q38_B_Part_6',
       'Q38_B_Part_7', 'Q38_B_Part_8', 'Q38_B_Part_9', 'Q38_B_Part_10',
       'Q38_B_Part_11', 'Q38_B_OTHER'],
      dtype='object', length=259)

# **Una vez unidos en un solo DF vamos a guardar este nuevo CSV con enombre union_3_archivos**

In [14]:
concat_archivos.to_csv("union_4_archivos.csv")

# **Hacemos una copia en este momento donde comenzamos a trabajar con la uni贸n**

In [12]:
df = concat_archivos.copy()

# **Visualizamos qu茅 informaci贸n tenemos en nuestro archivo ya unido para dedicir qu茅 columnas nos interesan**

In [13]:
pd.options.display.max_columns = None
df.head(3)

,edad,time,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q35,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER,Unnamed: 0,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,Q19_Part_2,Q19_Part_3,Q19_Part_4,Q19_Part_5,Q19_OTHER,Q27_A_Part_1,Q27_A_Part_2,Q27_A_Part_3,Q27_A_Part_4,Q27_A_Part_5,Q27_A_Part_6,Q27_A_Part_7,Q27_A_Part_8,Q27_A_Part_9,Q27_A_Part_10,Q27_A_Part_11,Q27_A_OTHER,Q28,Q29_A_Part_1,Q29_A_Part_2,Q29_A_Part_3,Q29_A_Part_4,Q29_A_OTHER,Q30_A_Part_1,Q30_A_Part_2,Q30_A_Part_3,Q30_A_Part_4,Q30_A_Part_5,Q30_A_Part_6,Q30_A_Part_7,Q30_A_OTHER,Q31_A_Part_1,Q31_A_Part_2,Q31_A_Part_3,Q31_A_Part_4,Q31_A_Part_5,Q31_A_Part_6,Q31_A_Part_7,Q31_A_Part_8,Q31_A_Part_9,Q31_A_OTHER,Q36_A_Part_1,Q36_A_Part_2,Q36_A_Part_3,Q36_A_Part_4,Q36_A_Part_5,Q36_A_Part_6,Q36_A_Part_7,Q36_A_OTHER,Q37_A_Part_1,Q37_A_Part_2,Q37_A_Part_3,Q37_A_Part_4,Q37_A_Part_5,Q37_A_Part_6,Q37_A_Part_7,Q37_A_OTHER,Q38_A_Part_1,Q38_A_Part_2,Q38_A_Part_3,Q38_A_Part_4,Q38_A_Part_5,Q38_A_Part_6,Q38_A_Part_7,Q38_A_Part_8,Q38_A_Part_9,Q38_A_Part_10,Q38_A_Part_11,Q38_A_OTHER,Q39_Part_1,Q39_Part_2,Q39_Part_3,Q39_Part_4,Q39_Part_5,Q39_Part_6,Q39_Part_7,Q39_Part_8,Q39_Part_9,Q39_OTHER,Q40_Part_1,Q40_Part_2,Q40_Part_3,Q40_Part_4,Q40_Part_5,Q40_Part_6,Q40_Part_7,Q40_Part_8,Q40_Part_9,Q40_Part_10,Q40_Part_11,Q40_OTHER,Q42_Part_1,Q42_Part_2,Q42_Part_3,Q42_Part_4,Q42_Part_5,Q42_Part_6,Q42_Part_7,Q42_Part_8,Q42_Part_9,Q42_Part_10,Q42_Part_11,Q42_OTHER,Q27_B_Part_1,Q27_B_Part_2,Q27_B_Part_3,Q27_B_Part_4,Q27_B_Part_5,Q27_B_Part_6,Q27_B_Part_7,Q27_B_Part_8,Q27_B_Part_9,Q27_B_Part_10,Q27_B_Part_11,Q27_B_OTHER,Q29_B_Part_1,Q29_B_Part_2,Q29_B_Part_3,Q29_B_Part_4,Q29_B_OTHER,Q30_B_Part_1,Q30_B_Part_2,Q30_B_Part_3,Q30_B_Part_4,Q30_B_Part_5,Q30_B_Part_6,Q30_B_Part_7,Q30_B_OTHER,Q31_B_Part_1,Q31_B_Part_2,Q31_B_Part_3,Q31_B_Part_4,Q31_B_Part_5,Q31_B_Part_6,Q31_B_Part_7,Q31_B_Part_8,Q31_B_Part_9,Q31_B_OTHER,Q32_B_Part_1,Q32_B_Part_2,Q32_B_Part_3,Q32_B_Part_4,Q32_B_Part_5,Q32_B_Part_6,Q32_B_Part_7,Q32_B_Part_8,Q32_B_Part_9,Q32_B_Part_10,Q32_B_Part_11,Q32_B_Part_12,Q32_B_Part_13,Q32_B_Part_14,Q32_B_Part_15,Q32_B_Part_16,Q32_B_Part_17,Q32_B_Part_18,Q32_B_Part_19,Q32_B_Part_20,Q32_B_OTHER,Q34_B_Part_1,Q34_B_Part_2,Q34_B_Part_3,Q34_B_Part_4,Q34_B_Part_5,Q34_B_Part_6,Q34_B_Part_7,Q34_B_Part_8,Q34_B_Part_9,Q34_B_Part_10,Q34_B_Part_11,Q34_B_Part_12,Q34_B_Part_13,Q34_B_Part_14,Q34_B_Part_15,Q34_B_Part_16,Q34_B_OTHER,Q36_B_Part_1,Q36_B_Part_2,Q36_B_Part_3,Q36_B_Part_4,Q36_B_Part_5,Q36_B_Part_6,Q36_B_Part_7,Q36_B_OTHER,Q37_B_Part_1,Q37_B_Part_2,Q37_B_Part_3,Q37_B_Part_4,Q37_B_Part_5,Q37_B_Part_6,Q37_B_Part_7,Q37_B_OTHER,Q38_B_Part_1,Q38_B_Part_2,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,50-54,910,Man,India,Bachelors degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Storage (GCS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,GitHub,NaN,Kaggle,NaN,NaN,NaN,NaN,Coursera,edX,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, OReilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,50-54,784,Man,Indonesia,Masters degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,We are exploring ML methods (and may one day p...,"60,000-69,999",$0 ($USD),NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",University Courses (resulting in a university ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),NaN,Oracle Cloud,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,MySQL,NaN,SQLite,Oracle Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Data Studio,NaN,NaN,NaN,NaN,Qlik,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Automated model selection (e.g. auto-sklearn, ...",NaN,NaN,NaN,NaN,NaN,Google Cloud AutoML,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
2,22-24,924,Man,Pakistan,Masters degree,Software Engineer,1-3 years,Python,A laptop,Never,I do not use machine learning methods,Academics/Education,"1000-9,999 employees",0,I do not know,$0-999,$0 ($USD),MySQL,NaN,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Other,Matplotlib,NaN,NaN,None of these activities are an important par...,"MySQL , MongoDB",None,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataRobot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No / None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I do not share my work publicly,NaN,NaN,NaN,NaN,DataCamp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN,NaN,Amazon Web Services (AWS),NaN,Google Cloud Platform (GCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Azure Virtual Machines,Google Cloud Compute Engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Azure Machine Learning Studio,Google Cloud Vertex AI,DataRobot,NaN,NaN,NaN,NaN,NaN,NaN,MySQL,PostgreSQL,NaN,NaN,MongoDB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Power BI,NaN,NaN,NaN,Tableau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Automated model selection (e.g. auto-sklearn, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DataRobot AutoML,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#Calculamos el % de datos nulos de cada columnas para hacernos una idea de la informaci贸n que contiene

# otro metodo: df.stb.missing([df.columns])

nulos = (df.isnull().sum()/ len(df)*100).sort_values(ascending=False) #ordenamos de forma ascendente para comprobar si existen 100% nulos en algunas columnas.
porcentaje_isnull = np.round(nulos, decimals = 2) #redondeamos a 2 decimales
porcentaje_isnull

Q30_B_Part_3    100.0
Q30_B_Part_2    100.0
Q30_B_Part_1    100.0
Q30_B_Part_5    100.0
Q30_B_Part_6    100.0
                ...
Unnamed: 0        0.0
Q5                0.0
Q6                0.0
time              0.0
edad              0.0
Length: 259, dtype: float64

# **Algunas ideas para borrar - conservar que datos nos interesan**

In [17]:
# Este bucle est谩 pensado para borrar todas aquellas columnas, cuyo porcentaje de nulos sea mayor de 90%

for index, value in porcentaje_isnull.items():
    try:
        if value >= 90:
            del df[index]
        else:
            pass
    except KeyError:
        pass 

df.head(2)

,edad,time,gender,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,Q20,Q21,Q22,Q23,Q25,Q26,Q33,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34,Q10_Part_1,Q10_Part_2,Q10_Part_16,Unnamed: 0,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q19_Part_1,Q27_A_Part_1,Q27_A_Part_3,Q27_A_Part_11,Q28,Q31_A_Part_9,Q36_A_Part_7,Q38_A_Part_11,Q39_Part_4,Q39_Part_6,Q39_Part_9,Q40_Part_1,Q40_Part_2,Q40_Part_3,Q40_Part_4,Q40_Part_6,Q40_Part_7,Q40_Part_8,Q40_Part_10,Q42_Part_1,Q42_Part_2,Q42_Part_3,Q42_Part_4,Q42_Part_5,Q42_Part_6,Q42_Part_8,Q42_Part_9,Q27_B_Part_1,Q27_B_Part_2,Q27_B_Part_3,Q29_B_Part_1,Q29_B_Part_2,Q29_B_Part_3,Q31_B_Part_1,Q31_B_Part_2,Q31_B_Part_3,Q31_B_Part_9,Q32_B_Part_1,Q32_B_Part_2,Q32_B_Part_3,Q32_B_Part_5,Q32_B_Part_8,Q32_B_Part_9,Q32_B_Part_15,Q32_B_Part_16,Q34_B_Part_1,Q34_B_Part_3,Q34_B_Part_5,Q34_B_Part_16,Q36_B_Part_1,Q36_B_Part_2,Q36_B_Part_3,Q36_B_Part_5,Q36_B_Part_6,Q36_B_Part_7,Q37_B_Part_1,Q37_B_Part_5,Q37_B_Part_6,Q38_B_Part_5,Q38_B_Part_10,Q38_B_Part_11
0,50-54,910,Man,India,Bachelors degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,No (we do not use ML methods),"25,000-29,999",$100-$999,NaN,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None,NaN,Colab Notebooks,NaN,0,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",NaN,Google Cloud Platform (GCP),NaN,NaN,No / None,No / None,No / None,GitHub,Kaggle,NaN,Coursera,edX,Kaggle Learn Courses,DataCamp,Udacity,Udemy,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,50-54,784,Man,Indonesia,Masters degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,We are exploring ML methods (and may one day p...,"60,000-69,999",$0 ($USD),NaN,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,University Courses (resulting in a university ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,Google Cloud Platform (GCP),NaN,NaN,Google Cloud Compute Engine,NaN,NaN,NaN,None,MySQL,NaN,SQLite,NaN,NaN,NaN,NaN,Google Cloud SQL,NaN,Google Data Studio,NaN,NaN,NaN,NaN,"Automated model selection (e.g. auto-sklearn, ...",NaN,NaN,NaN,Google Cloud AutoML,NaN,NaN,NaN,NaN,None

# **Decidimos las columnas con las que finalmente vamos a trabajar**

In [ ]:
#En primer lugar comenzamos a pensar en esta forma de ejecutar la eliminaci贸n de las columnas no deseadas para el an谩lisis.

col_a_eliminar = ['Q8', 'Q10_Part_3', 'Q10_Part_4', 'Q10_Part_5',
       'Q10_Part_6', 'Q10_Part_7', 'Q10_Part_8', 'Q10_Part_9', 'Q10_Part_10',
       'Q10_Part_11', 'Q10_Part_12', 'Q10_Part_13', 'Q10_Part_14','Q10_Part_15', 'Q10_Part_16','Q10_OTHER', 'Q12', 
       'Q13', 'Q17', 'Q18_Part_1', 'Q18_Part_2', 'Q18_Part_3','Q18_Part_4','Q18_Part_5','Q18_Part_6','Q18_OTHER', 
       'Q19_Part_1','Q19_Part_2','Q19_Part_3','Q19_Part_4','Q19_Part_5','Q19_OTHER', 'Q23', 'Q24', 'Q26', 'Q27_A_Part_1',
       'Q27_A_Part_2','Q27_A_Part_3','Q27_A_Part_4','Q27_A_Part_5','Q27_A_Part_6','Q27_A_Part_7','Q27_A_Part_8',
       'Q27_A_Part_9','Q27_A_Part_10','Q27_A_Part_11','Q27_A_OTHER', 'Q28', 'Q29_A_Part_1','Q29_A_Part_2','Q29_A_Part_3',
       'Q29_A_Part_4','Q29_A_OTHER', 'Q33', 'Q34', 'Q36_A_Part_1','Q36_A_Part_2',	'Q36_A_Part_3', 'Q36_A_Part_4', 
       'Q36_A_Part_5', 'Q36_A_Part_6','Q36_A_Part_7','Q36_A_OTHER', 'Q37_A_Part_1', 'Q37_A_Part_2', 'Q37_A_Part_3', 
       'Q37_A_Part_4','Q37_A_Part_5','Q37_A_Part_6','Q37_A_Part_7','Q37_A_OTHER','Q38_A_Part_1','Q38_A_Part_2',
       'Q38_A_Part_3','Q38_A_Part_4','Q38_A_Part_5','Q38_A_Part_6','Q38_A_Part_7','Q38_A_Part_8','Q38_A_Part_9',
       'Q38_A_Part_10','Q38_A_Part_11','Q38_A_OTHER', 'Q27_B_Part_1','Q27_B_Part_2','Q27_B_Part_3', 'Q27_B_Part_4',
       'Q27_B_Part_5', 'Q27_B_Part_6', 'Q27_B_Part_7', 'Q27_B_Part_8', 'Q27_B_Part_9', 'Q27_B_Part_10', 	'Q27_B_Part_11','Q27_B_OTHER',	
       'Q29_B_Part_1','Q29_B_Part_2','Q29_B_Part_3', 'Q29_B_Part_4', 'Q29_B_OTHER','Q30_B_Part_1', 'Q30_B_Part_2','Q30_B_Part_3',	
       'Q30_B_Part_4', 'Q30_B_Part_5', 'Q30_B_Part_6','Q30_B_Part_7','Q30_B_OTHER', 'Q31_B_Part_1', 'Q31_B_Part_2','Q31_B_Part_3',	
       'Q31_B_Part_4','Q31_B_Part_5','Q31_B_Part_6','Q31_B_Part_7','Q31_B_Part_8','Q31_B_Part_9','Q31_B_OTHER','Q32_B_Part_1',	
       'Q32_B_Part_2','Q32_B_Part_3','Q32_B_Part_4','Q32_B_Part_5','Q32_B_Part_6','Q32_B_Part_7','Q32_B_Part_8'	,'Q32_B_Part_9',	
       'Q32_B_Part_10','Q32_B_Part_11', 'Q32_B_Part_12','Q32_B_Part_13','Q32_B_Part_14','Q32_B_Part_15',	'Q32_B_Part_16','Q32_B_Part_17',       
       'Q32_B_Part_18', 'Q32_B_Part_19','Q32_B_Part_20','Q32_B_OTHER'	,'Q34_B_Part_1','Q34_B_Part_2','Q34_B_Part_3','Q34_B_Part_4',	
       'Q34_B_Part_5','Q34_B_Part_6','Q34_B_Part_7','Q34_B_Part_8','Q34_B_Part_9','Q34_B_Part_10'	,'Q34_B_Part_11','Q34_B_Part_12',	
       'Q34_B_Part_13','Q34_B_Part_14','Q34_B_Part_15','Q34_B_Part_16','Q34_B_OTHER','Q36_B_Part_1','Q36_B_Part_2','Q36_B_Part_3',	
       'Q36_B_Part_4','Q36_B_Part_5','Q36_B_Part_6','Q36_B_Part_7','Q36_B_OTHER','Q37_B_Part_1',	'Q37_B_Part_2','Q37_B_Part_3',	
       'Q37_B_Part_4','Q37_B_Part_5','Q37_B_Part_6','Q37_B_Part_7','Q37_B_OTHER','Q38_B_Part_1','Q38_B_Part_2',	'Q38_B_Part_3',	
       'Q38_B_Part_4','Q38_B_Part_5','Q38_B_Part_6','Q38_B_Part_7','Q38_B_Part_8','Q38_B_Part_9',	'Q38_B_Part_10','Q38_B_Part_11',	
       'Q38_B_OTHER','Q31_A_Part_1','Q31_A_Part_2','Q31_A_Part_3','Q31_A_Part_4','Q31_A_Part_5','Q31_A_Part_6','Q31_A_Part_7','Q31_A_Part_8',
       'Q31_A_Part_9',,'Q31_A_OTHER','Q39_Part_1','Q39_Part_2','Q39_Part_3','Q39_Part_5','Q39_Part_7','Q39_Part_8','Q39_Part_9','Q39_OTHER']


df_borrado = df.drop(columns= col_a_eliminar, axis=1)

In [20]:
df.Q34.isnull().sum()

16574

In [ ]:
df.Q35.isnull().sum()

In [15]:
#Como segunda y definitiva alternativa finalmente ejecutamos con este proceso.

columnas_preferidas= ["edad","gender", "Q3","Q4","Q5","Q6", "Q7", "Q9","Q10_Part_1",
                      "Q10_Part_2","Q11","Q14","Q15","Q16","Q20", "Q21", "Q22", "Q25",'Q32', 
                      "Q34", 'Q39_Part_4', 'Q39_Part_6','Q40_Part_1', 'Q40_Part_2', 'Q40_Part_3', 
                      'Q40_Part_4','Q40_Part_5','Q40_Part_6', 'Q40_Part_7', 'Q40_Part_8','Q40_Part_9', 
                      'Q40_Part_10', 'Q40_Part_11','Q40_OTHER', 'Q41', 'Q42_Part_1', 'Q42_Part_2', 'Q42_Part_3', 
                      'Q42_Part_4','Q42_Part_5', 'Q42_Part_6','Q42_Part_7','Q42_Part_8', 'Q42_Part_9', 'Q42_Part_10', 
                      'Q42_Part_11', 'Q42_OTHER']

#Utilizando este bucle vamos a conservar nuestras "columnas preferidas" y eliminar todas las dem谩s.

for col in df.columns:
    if col not in columnas_preferidas:
        del df[col]
    else:
        pass

In [16]:
df.columns

Index(['edad', 'gender', 'Q3', 'Q4', 'Q5', 'Q6', 'Q11', 'Q15', 'Q20', 'Q21',
       'Q22', 'Q25', 'Q41', 'Q7', 'Q9', 'Q14', 'Q16', 'Q32', 'Q34',
       'Q10_Part_1', 'Q10_Part_2', 'Q39_Part_4', 'Q39_Part_6', 'Q40_Part_1',
       'Q40_Part_2', 'Q40_Part_3', 'Q40_Part_4', 'Q40_Part_5', 'Q40_Part_6',
       'Q40_Part_7', 'Q40_Part_8', 'Q40_Part_9', 'Q40_Part_10', 'Q40_Part_11',
       'Q40_OTHER', 'Q42_Part_1', 'Q42_Part_2', 'Q42_Part_3', 'Q42_Part_4',
       'Q42_Part_5', 'Q42_Part_6', 'Q42_Part_7', 'Q42_Part_8', 'Q42_Part_9',
       'Q42_Part_10', 'Q42_Part_11', 'Q42_OTHER'],
      dtype='object')

In [16]:
#Comprobamos que se ha ejecutado correctamente, el numero de columnas se ha reducido hasta 48, que son con las que vamos a trabajar.
df.columns.shape

(47,)

In [17]:
df.shape

(25973, 47)

# **Hacemos nueva copia del Data frame tras eliminaci贸n de las columnas**

In [18]:
df_new= df.copy()

# **Renombrar las columnas**

In [19]:
df_new.head(4)

,edad,gender,Q3,Q4,Q5,Q6,Q11,Q15,Q20,Q21,Q22,Q25,Q41,Q7,Q9,Q14,Q16,Q32,Q34,Q10_Part_1,Q10_Part_2,Q39_Part_4,Q39_Part_6,Q40_Part_1,Q40_Part_2,Q40_Part_3,Q40_Part_4,Q40_Part_5,Q40_Part_6,Q40_Part_7,Q40_Part_8,Q40_Part_9,Q40_Part_10,Q40_Part_11,Q40_OTHER,Q42_Part_1,Q42_Part_2,Q42_Part_3,Q42_Part_4,Q42_Part_5,Q42_Part_6,Q42_Part_7,Q42_Part_8,Q42_Part_9,Q42_Part_10,Q42_Part_11,Q42_OTHER
0,50-54,Man,India,Bachelors degree,Other,5-10 years,A laptop,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,"25,000-29,999","Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret",PostgreSQL,None,NaN,Colab Notebooks,GitHub,Kaggle,Coursera,edX,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, OReilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN
1,50-54,Man,Indonesia,Masters degree,Program/Project Manager,20+ years,"A cloud computing platform (AWS, Azure, GCP, h...",< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,"60,000-69,999","Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",Matplotlib,Scikit-learn,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",University Courses (resulting in a university ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN
2,22-24,Man,Pakistan,Masters degree,Software Engineer,1-3 years,A laptop,I do not use machine learning methods,Academics/Education,"1000-9,999 employees",0,$0-999,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Matplotlib,NaN,"MySQL , MongoDB",None,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,DataCamp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN,NaN
3,45-49,Man,Mexico,Doctoral degree,Research Scientist,20+ years,"A cloud computing platform (AWS, Azure, GCP, h...",5-10 years,Academics/Education,"1000-9,999 employees",0,"30,000-39,999","Local development environments (RStudio, Jupyt...",Python,"Spyder,Jupyter Notebook",Matplotlib,"Scikit-learn , TensorFlow ,Keras",NaN,NaN,NaN,Colab Notebooks,NaN,NaN,Coursera,edX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,"Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN

In [20]:
df_new.columns

Index(['edad', 'gender', 'Q3', 'Q4', 'Q5', 'Q6', 'Q11', 'Q15', 'Q20', 'Q21',
       'Q22', 'Q25', 'Q41', 'Q7', 'Q9', 'Q14', 'Q16', 'Q32', 'Q34',
       'Q10_Part_1', 'Q10_Part_2', 'Q39_Part_4', 'Q39_Part_6', 'Q40_Part_1',
       'Q40_Part_2', 'Q40_Part_3', 'Q40_Part_4', 'Q40_Part_5', 'Q40_Part_6',
       'Q40_Part_7', 'Q40_Part_8', 'Q40_Part_9', 'Q40_Part_10', 'Q40_Part_11',
       'Q40_OTHER', 'Q42_Part_1', 'Q42_Part_2', 'Q42_Part_3', 'Q42_Part_4',
       'Q42_Part_5', 'Q42_Part_6', 'Q42_Part_7', 'Q42_Part_8', 'Q42_Part_9',
       'Q42_Part_10', 'Q42_Part_11', 'Q42_OTHER'],
      dtype='object')

In [21]:
df_new.rename(columns= {"edad":"edad","gender":"genero","Q3":"pais","Q4":"educacion","Q5":"perfil_profesional",
                                    "Q6":"experiencia_programando", "Q7":"Lenguajes_habituales", "Q9":"Entorno_desarrollo",
                                    "Q10_Part_1":"notebooks_Kaggle", "Q10_Part_2":"notebooks_colab","Q11":"herramientas_trabajo", 
                                    "Q14":"Bibliotecas_visualizaci贸n", "Q15":"a帽o_uso_machine_learning", 
                                    "Q16":"herramientas_machine_learning", "Q20":"Industria_actual","Q21":"Tama帽o_compa帽铆a", "Q22":"Trabajadores_DataScience", 
                                    "Q25":"Salario", "Q32":"Programas_Big_Data","Q34":"Herramientas_BI",'Q39_Part_4':"publicaciones_github", 'Q39_Part_6':"publicaciones_kaggle","Q40_Part_1":"Plat_Coursera","Q40_Part_2":"Plat_EdX",
                                    "Q40_Part_3":"Plat_Kaggle","Q40_Part_4":"Plat_Datacamp","Q40_Part_5":"Plat_Fast.AI","Q40_Part_6":"Plat_Udacity","Q40_Part_7":"Plat_Udemy",
                                    "Q40_Part_8":"Plat_Linkedinlearning","Q40_Part_9":"Plat_CloudCertification","Q40_Part_10":"Plat_UniversityCourses","Q40_Part_11":"Plat_Ninguno",
                                    "Q40_OTHER":"Plat_Otros",'Q41':'Herramienta_analisis_datos',
                                    'Q42_Part_1':'RRSS_twitter', 'Q42_Part_2':'RRSS_email/newsletters', 'Q42_Part_3':'RRSS_reddit', 'Q42_Part_4':'RRSS_kaggle',
                                    'Q42_Part_5':'RRSS_forums', 'Q42_Part_6':'RRSS_yotube', 'Q42_Part_7':'RRSS_podcast', 'Q42_Part_8':'RRSS_blogs', 'Q42_Part_9':'RRSS_journal',
                                    'Q42_Part_10':'RRSS_slackcommunity', 'Q42_Part_11':'RRSS_none', 'Q42_OTHER':'RRSS_others'},inplace=True)

In [22]:
df_new.head(1)

,edad,genero,pais,educacion,perfil_profesional,experiencia_programando,herramientas_trabajo,a帽o_uso_machine_learning,Industria_actual,Tama帽o_compa帽铆a,Trabajadores_DataScience,Salario,Herramienta_analisis_datos,Lenguajes_habituales,Entorno_desarrollo,Bibliotecas_visualizaci贸n,herramientas_machine_learning,Programas_Big_Data,Herramientas_BI,notebooks_Kaggle,notebooks_colab,publicaciones_github,publicaciones_kaggle,Plat_Coursera,Plat_EdX,Plat_Kaggle,Plat_Datacamp,Plat_Fast.AI,Plat_Udacity,Plat_Udemy,Plat_Linkedinlearning,Plat_CloudCertification,Plat_UniversityCourses,Plat_Ninguno,Plat_Otros,RRSS_twitter,RRSS_email/newsletters,RRSS_reddit,RRSS_kaggle,RRSS_forums,RRSS_yotube,RRSS_podcast,RRSS_blogs,RRSS_journal,RRSS_slackcommunity,RRSS_none,RRSS_others
0,50-54,Man,India,Bachelors degree,Other,5-10 years,A laptop,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,"25,000-29,999","Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret",PostgreSQL,None,NaN,Colab Notebooks,GitHub,Kaggle,Coursera,edX,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, OReilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN

-----

In [ ]:
#Prueba el m茅todo .explode de pandas para columnas Q40 y las otras con partes. 
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.explode.html

In [37]:
especiales= ['Q40_Part_2', 'Q40_Part_3', 'Q40_Part_4', 'Q40_Part_6',
       'Q40_Part_7', 'Q40_Part_8', 'Q40_Part_11',
       'Q40_OTHER']

for column in especiales:
       df_new[column].replace(np.nan, "no", inplace = True)

In [ ]:
def unir():
    
for x in especiales:
    if x == no:
        del x

    else:
        return df["columna_nueva"] = df[especiales].apply()

In [ ]:
import pandas as pd
from collections import OrderedDict

data = [['a1', ['b1', 'b2'], ['c1', 'b1'], 'd1'],
        ['a2', ['b1', 'b1'], ['b3'], 'd2'],
        ['a3', ['b2'], ['b2', 'b2'], 'd3']]

df = pd.DataFrame(data=data, columns=['A', 'B', 'C', 'D'])


def uniques(xs):
    return list(OrderedDict().fromkeys(xi for x in xs for xi in x))


df['E'] = df[['B', 'C']].apply(uniques, axis=1)

In [ ]:
df_new.dtypes

In [38]:
#Primero se une , si sale usar peplace para las celdas largas
df_new['Plataforma_curso'] = df_new[['Q40_Part_2', 'Q40_Part_3', 'Q40_Part_4', 'Q40_Part_6',
       'Q40_Part_7', 'Q40_Part_8', 'Q40_Part_11',
       'Q40_OTHER']].apply(','.join, axis=1)

In [ ]:
df_new['Plataforma_curso'].split(',')

In [ ]:
#despues .explode
division= df_new.explode("plataforma_curso")

df = pd.DataFrame({'P': [[2, 3, 4], 'fff', [], [4, 5]], 'Q': 2})
df.explode('P')

In [ ]:
df_new["Plataforma_curso"].unique()

-------

# **Reordenar las columnas**

In [31]:
df_new.columns

Index(['edad', 'genero', 'pais', 'educacion', 'perfil_profesional',
       'experiencia_programando', 'herramientas_trabajo',
       'a帽o_uso_machine_learning', 'Industria_actual', 'Tama帽o_compa帽铆a',
       'Trabajadores_DataScience', 'Salario', 'Herramienta_analisis_datos',
       'Lenguajes_habituales', 'Entorno_desarrollo',
       'Bibliotecas_visualizaci贸n', 'herramientas_machine_learning',
       'Programas_Big_Data', 'Herramientas_BI', 'notebooks_Kaggle',
       'notebooks_colab', 'publicaciones_github', 'publicaciones_kaggle',
       'Plat_Coursera', 'Plat_EdX', 'Plat_Kaggle', 'Plat_Datacamp',
       'Plat_Fast.AI', 'Plat_Udacity', 'Plat_Udemy', 'Plat_Linkedinlearning',
       'Plat_CloudCertification', 'Plat_UniversityCourses', 'Plat_Ninguno',
       'Plat_Otros', 'RRSS_twitter', 'RRSS_email/newsletters', 'RRSS_reddit',
       'RRSS_kaggle', 'RRSS_forums', 'RRSS_yotube', 'RRSS_podcast',
       'RRSS_blogs', 'RRSS_journal', 'RRSS_slackcommunity', 'RRSS_none',
       'RRSS_others'],
      dtype='object')

# Poner en minusculas todas las columnas del DF

In [41]:

nuevas_columnas = {col: col.lower() for col in df_new.columns}
nuevas_columnas

{'edad': 'edad',
 'genero': 'genero',
 'pais': 'pais',
 'educacion': 'educacion',
 'perfil_profesional': 'perfil_profesional',
 'experiencia_programando': 'experiencia_programando',
 'herramientas_trabajo': 'herramientas_trabajo',
 'a帽o_uso_machine_learning': 'a帽o_uso_machine_learning',
 'Industria_actual': 'industria_actual',
 'Tama帽o_compa帽铆a': 'tama帽o_compa帽铆a',
 'Trabajadores_DataScience': 'trabajadores_datascience',
 'Salario': 'salario',
 'Herramienta_analisis_datos': 'herramienta_analisis_datos',
 'Lenguajes_habituales': 'lenguajes_habituales',
 'Entorno_desarrollo': 'entorno_desarrollo',
 'Bibliotecas_visualizaci贸n': 'bibliotecas_visualizaci贸n',
 'herramientas_machine_learning': 'herramientas_machine_learning',
 'Programas_Big_Data': 'programas_big_data',
 'Herramientas_BI': 'herramientas_bi',
 'notebooks_Kaggle': 'notebooks_kaggle',
 'notebooks_colab': 'notebooks_colab',
 'publicaciones_github': 'publicaciones_github',
 'publicaciones_kaggle': 'publicaciones_kaggle',
 'Plat_Coursera': 'plat_coursera',
 'Plat_EdX': 'plat_edx',
 'Plat_Kaggle': 'plat_kaggle',
 'Plat_Datacamp': 'plat_datacamp',
 'Plat_Fast.AI': 'plat_fast.ai',
 'Plat_Udacity': 'plat_udacity',
 'Plat_Udemy': 'plat_udemy',
 'Plat_Linkedinlearning': 'plat_linkedinlearning',
 'Plat_CloudCertification': 'plat_cloudcertification',
 'Plat_UniversityCourses': 'plat_universitycourses',
 'Plat_Ninguno': 'plat_ninguno',
 'Plat_Otros': 'plat_otros',
 'RRSS_twitter': 'rrss_twitter',
 'RRSS_email/newsletters': 'rrss_email/newsletters',
 'RRSS_reddit': 'rrss_reddit',
 'RRSS_kaggle': 'rrss_kaggle',
 'RRSS_forums': 'rrss_forums',
 'RRSS_yotube': 'rrss_yotube',
 'RRSS_podcast': 'rrss_podcast',
 'RRSS_blogs': 'rrss_blogs',
 'RRSS_journal': 'rrss_journal',
 'RRSS_slackcommunity': 'rrss_slackcommunity',
 'RRSS_none': 'rrss_none',
 'RRSS_others': 'rrss_others'}

In [43]:
df_new.rename(columns = nuevas_columnas, inplace = True)

In [66]:
df_new.columns

Index(['edad', 'genero', 'pais', 'educacion', 'perfil_profesional',
       'experiencia_programando', 'herramientas_trabajo',
       'a帽o_uso_machine_learning', 'industria_actual', 'tama帽o_compa帽铆a',
       'trabajadores_datascience', 'salario', 'herramienta_analisis_datos',
       'lenguajes_habituales', 'entorno_desarrollo',
       'bibliotecas_visualizaci贸n', 'herramientas_machine_learning',
       'programas_big_data', 'herramientas_bi', 'notebooks_kaggle',
       'notebooks_colab', 'publicaciones_github', 'publicaciones_kaggle',
       'plat_coursera', 'plat_edx', 'plat_kaggle', 'plat_datacamp',
       'plat_fast.ai', 'plat_udacity', 'plat_udemy', 'plat_linkedinlearning',
       'plat_cloudcertification', 'plat_universitycourses', 'plat_ninguno',
       'plat_otros', 'rrss_twitter', 'rrss_email/newsletters', 'rrss_reddit',
       'rrss_kaggle', 'rrss_forums', 'rrss_yotube', 'rrss_podcast',
       'rrss_blogs', 'rrss_journal', 'rrss_slackcommunity', 'rrss_none',
       'rrss_others'],
      dtype='object')

# Reordenar las columnas

    Estan en un orden correcto , no es necesario reorganizar en nuestro criterio, dejamos muestra de reorganizaci贸n.

In [ ]:
nuevo_orden =['edad', 'genero', 'pais', 'educacion', 'perfil_profesional',
       'experiencia_programando', 'herramientas_trabajo',
       'a帽o_uso_machine_learning', 'Industria_actual', 'Tama帽o_compa帽铆a',
       'Trabajadores_DataScience', 'Salario', 'Herramienta_analisis_datos',
       'Lenguajes_habituales', 'Entorno_desarrollo',
       'Bibliotecas_visualizaci贸n', 'herramientas_machine_learning',
       'Programas_Big_Data', 'Herramientas_BI', 'notebooks_Kaggle',
       'notebooks_colab', 'publicaciones_github', 'publicaciones_kaggle',
       'Plat_Coursera', 'Plat_EdX', 'Plat_Kaggle', 'Plat_Datacamp',
       'Plat_Fast.AI', 'Plat_Udacity', 'Plat_Udemy', 'Plat_Linkedinlearning',
       'Plat_CloudCertification', 'Plat_UniversityCourses', 'Plat_Ninguno',
       'Plat_Otros', 'RRSS_twitter', 'RRSS_email/newsletters', 'RRSS_reddit',
       'RRSS_kaggle', 'RRSS_forums', 'RRSS_yotube', 'RRSS_podcast',
       'RRSS_blogs', 'RRSS_journal', 'RRSS_slackcommunity', 'RRSS_none',
       'RRSS_others']

In [ ]:
df_new.reindex(columns=nuevo_orden)

# Limpieza strings

    Contar las filas duplicadas de nuestro DataFrame y eliminarlas.

In [81]:
df_new.columns

Index(['edad', 'genero', 'pais', 'educacion', 'perfil_profesional',
       'experiencia_programando', 'herramientas_trabajo',
       'a帽o_uso_machine_learning', 'industria_actual', 'tama帽o_compa帽铆a',
       'trabajadores_datascience', 'salario', 'herramienta_analisis_datos',
       'lenguajes_habituales', 'entorno_desarrollo',
       'bibliotecas_visualizaci贸n', 'herramientas_machine_learning',
       'programas_big_data', 'herramientas_bi', 'notebooks_kaggle',
       'notebooks_colab', 'publicaciones_github', 'publicaciones_kaggle',
       'plat_coursera', 'plat_edx', 'plat_kaggle', 'plat_datacamp',
       'plat_fast.ai', 'plat_udacity', 'plat_udemy', 'plat_linkedinlearning',
       'plat_cloudcertification', 'plat_universitycourses', 'plat_ninguno',
       'plat_otros', 'rrss_twitter', 'rrss_email/newsletters', 'rrss_reddit',
       'rrss_kaggle', 'rrss_forums', 'rrss_yotube', 'rrss_podcast',
       'rrss_blogs', 'rrss_journal', 'rrss_slackcommunity', 'rrss_none',
       'rrss_others'],
      dtype='object')

In [62]:
#Contamos cuantas filas duplicadas tenemos
df_new.duplicated().sum()

5

In [79]:
#Las eliminamos(he probado a recoger df.new.columns.to_list y guardar en variable pero .drop_duplicated no acepta listas)
df_new.drop_duplicates(subset = ['edad', 'genero', 'pais', 'educacion', 'perfil_profesional','experiencia_programando',
 'herramientas_trabajo','a帽o_uso_machine_learning', 'industria_actual', 'tama帽o_compa帽铆a','trabajadores_datascience', 
 'salario', 'herramienta_analisis_datos','lenguajes_habituales', 'entorno_desarrollo','bibliotecas_visualizaci贸n', 
 'herramientas_machine_learning','programas_big_data', 'herramientas_bi', 'notebooks_kaggle','notebooks_colab', 
 'publicaciones_github', 'publicaciones_kaggle','plat_coursera', 'plat_edx', 'plat_kaggle', 'plat_datacamp',
 'plat_fast.ai', 'plat_udacity', 'plat_udemy', 'plat_linkedinlearning','plat_cloudcertification', 'plat_universitycourses', 
 'plat_ninguno','plat_otros', 'rrss_twitter', 'rrss_email/newsletters', 'rrss_reddit','rrss_kaggle', 'rrss_forums', 'rrss_yotube', 
 'rrss_podcast','rrss_blogs', 'rrss_journal', 'rrss_slackcommunity', 'rrss_none','rrss_others'], inplace = True)

In [80]:
#Ya no tenemos filas duplicadas
df_new.duplicated().sum()

0

    Variables redundantes, vamos a ver si tenemos filas que nos den la misma info

    No hay nada redundante que nos pudiese afectar

In [82]:
df_new.head(1)

,edad,genero,pais,educacion,perfil_profesional,experiencia_programando,herramientas_trabajo,a帽o_uso_machine_learning,industria_actual,tama帽o_compa帽铆a,trabajadores_datascience,salario,herramienta_analisis_datos,lenguajes_habituales,entorno_desarrollo,bibliotecas_visualizaci贸n,herramientas_machine_learning,programas_big_data,herramientas_bi,notebooks_kaggle,notebooks_colab,publicaciones_github,publicaciones_kaggle,plat_coursera,plat_edx,plat_kaggle,plat_datacamp,plat_fast.ai,plat_udacity,plat_udemy,plat_linkedinlearning,plat_cloudcertification,plat_universitycourses,plat_ninguno,plat_otros,rrss_twitter,rrss_email/newsletters,rrss_reddit,rrss_kaggle,rrss_forums,rrss_yotube,rrss_podcast,rrss_blogs,rrss_journal,rrss_slackcommunity,rrss_none,rrss_others
0,50-54,Man,India,Bachelors degree,Other,5-10 years,A laptop,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,"25,000-29,999","Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret",PostgreSQL,None,NaN,Colab Notebooks,GitHub,Kaggle,Coursera,edX,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, OReilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN

In [85]:
len(df_new.pais.unique())

66

In [88]:
len(df_new.experiencia_programando.unique())

7

In [89]:
len(df_new.a帽o_uso_machine_learning.unique())

10

    Columnas con valores 100% nulos?
    Podemos pensar en eliminar rrss_other

In [90]:
df_new.isnull().sum() * 100 / df.shape[0]

edad                              0.000000
genero                            0.000000
pais                              0.000000
educacion                         0.000000
perfil_profesional                0.000000
experiencia_programando           0.000000
herramientas_trabajo              4.816540
a帽o_uso_machine_learning          8.535787
industria_actual                 37.134717
tama帽o_compa帽铆a                  37.419628
trabajadores_datascience         37.900897
salario                          40.730759
herramienta_analisis_datos       28.799138
lenguajes_habituales              3.969507
entorno_desarrollo                3.996458
bibliotecas_visualizaci贸n         7.704154
herramientas_machine_learning    24.429215
programas_big_data               63.465907
herramientas_bi                  63.793170
notebooks_kaggle                 63.377353
notebooks_colab                  62.280060
publicaciones_github             82.323952
publicaciones_kaggle             88.180033
plat_coursera                    62.834482
plat_edx                         88.322489
plat_kaggle                      66.599931
plat_datacamp                    84.595542
plat_fast.ai                     95.526123
plat_udacity                     89.188773
plat_udemy                       75.185770
plat_linkedinlearning            89.612290
plat_cloudcertification          93.035075
plat_universitycourses           81.184307
plat_ninguno                     93.196781
plat_otros                       91.968583
rrss_twitter                     85.554229
rrss_email/newsletters           86.732376
rrss_reddit                      88.665152
rrss_kaggle                      56.196820
rrss_forums                      88.449544
rrss_yotube                      59.939168
rrss_podcast                     92.195742
rrss_blogs                       69.268086
rrss_journal                     87.082740
rrss_slackcommunity              92.299696
rrss_none                        96.103646
rrss_others                      97.736111
dtype: float64

    Cambio de tipo de columnas, son todas object y m谩s tarde no podremos dividir entre numericas y categoricas

In [97]:
df_new.columns

Index(['edad', 'genero', 'pais', 'educacion', 'perfil_profesional',
       'experiencia_programando', 'herramientas_trabajo',
       'a帽o_uso_machine_learning', 'industria_actual', 'tama帽o_compa帽铆a',
       'trabajadores_datascience', 'salario', 'herramienta_analisis_datos',
       'lenguajes_habituales', 'entorno_desarrollo',
       'bibliotecas_visualizaci贸n', 'herramientas_machine_learning',
       'programas_big_data', 'herramientas_bi', 'notebooks_kaggle',
       'notebooks_colab', 'publicaciones_github', 'publicaciones_kaggle',
       'plat_coursera', 'plat_edx', 'plat_kaggle', 'plat_datacamp',
       'plat_fast.ai', 'plat_udacity', 'plat_udemy', 'plat_linkedinlearning',
       'plat_cloudcertification', 'plat_universitycourses', 'plat_ninguno',
       'plat_otros', 'rrss_twitter', 'rrss_email/newsletters', 'rrss_reddit',
       'rrss_kaggle', 'rrss_forums', 'rrss_yotube', 'rrss_podcast',
       'rrss_blogs', 'rrss_journal', 'rrss_slackcommunity', 'rrss_none',
       'rrss_others'],
      dtype='object')

In [111]:
df_new.sample(1)

,edad,genero,pais,educacion,perfil_profesional,experiencia_programando,herramientas_trabajo,a帽o_uso_machine_learning,industria_actual,tama帽o_compa帽铆a,trabajadores_datascience,salario,herramienta_analisis_datos,lenguajes_habituales,entorno_desarrollo,bibliotecas_visualizaci贸n,herramientas_machine_learning,programas_big_data,herramientas_bi,notebooks_kaggle,notebooks_colab,publicaciones_github,publicaciones_kaggle,plat_coursera,plat_edx,plat_kaggle,plat_datacamp,plat_fast.ai,plat_udacity,plat_udemy,plat_linkedinlearning,plat_cloudcertification,plat_universitycourses,plat_ninguno,plat_otros,rrss_twitter,rrss_email/newsletters,rrss_reddit,rrss_kaggle,rrss_forums,rrss_yotube,rrss_podcast,rrss_blogs,rrss_journal,rrss_slackcommunity,rrss_none,rrss_others
3163,35-39,Man,India,Masters degree,Other,I have never written code,NaN,NaN,Online Service/Internet-based Services,"10,000 or more employees",20+,"7,500-9,999","Business intelligence software (Salesforce, Ta...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coursera,NaN,NaN,NaN,NaN,NaN,Udemy,NaN,NaN,NaN,NaN,Other,NaN,NaN,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN,NaN

    No acepta cambiar el tipo para rangos de edad

In [ ]:
df_new["edad"].astype(int)

# Division y Creacion nuevas columnas

In [112]:
df_new.head()

,edad,genero,pais,educacion,perfil_profesional,experiencia_programando,herramientas_trabajo,a帽o_uso_machine_learning,industria_actual,tama帽o_compa帽铆a,trabajadores_datascience,salario,herramienta_analisis_datos,lenguajes_habituales,entorno_desarrollo,bibliotecas_visualizaci贸n,herramientas_machine_learning,programas_big_data,herramientas_bi,notebooks_kaggle,notebooks_colab,publicaciones_github,publicaciones_kaggle,plat_coursera,plat_edx,plat_kaggle,plat_datacamp,plat_fast.ai,plat_udacity,plat_udemy,plat_linkedinlearning,plat_cloudcertification,plat_universitycourses,plat_ninguno,plat_otros,rrss_twitter,rrss_email/newsletters,rrss_reddit,rrss_kaggle,rrss_forums,rrss_yotube,rrss_podcast,rrss_blogs,rrss_journal,rrss_slackcommunity,rrss_none,rrss_others
0,50-54,Man,India,Bachelors degree,Other,5-10 years,A laptop,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,"25,000-29,999","Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret",PostgreSQL,None,NaN,Colab Notebooks,GitHub,Kaggle,Coursera,edX,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, OReilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN
1,50-54,Man,Indonesia,Masters degree,Program/Project Manager,20+ years,"A cloud computing platform (AWS, Azure, GCP, h...",< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,"60,000-69,999","Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",Matplotlib,Scikit-learn,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",University Courses (resulting in a university ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN
2,22-24,Man,Pakistan,Masters degree,Software Engineer,1-3 years,A laptop,I do not use machine learning methods,Academics/Education,"1000-9,999 employees",0,$0-999,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Matplotlib,NaN,"MySQL , MongoDB",None,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,DataCamp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN,NaN
3,45-49,Man,Mexico,Doctoral degree,Research Scientist,20+ years,"A cloud computing platform (AWS, Azure, GCP, h...",5-10 years,Academics/Education,"1000-9,999 employees",0,"30,000-39,999","Local development environments (RStudio, Jupyt...",Python,"Spyder,Jupyter Notebook",Matplotlib,"Scikit-learn , TensorFlow ,Keras",NaN,NaN,NaN,Colab Notebooks,NaN,NaN,Coursera,edX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,"Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN
4,45-49,Man,India,Doctoral degree,Other,< 1 years,"A cloud computing platform (AWS, Azure, GCP, h...",10-20 years,Academics/Education,50-249 employees,5-9,"30,000-39,999","Local development environments (RStudio, Jupyt...","Python, C, MATLAB","Spyder,MATLAB ,Jupyter Notebook","Matplotlib ,Seaborn ,Ggplot / ggplot2","Scikit-learn ,PyTorch ,LightGBM",None,Microsoft Power BI,NaN,NaN,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN

    Surgen dudas a la hora de analizar y hacer graficas, para realizar conteo y poder comparar, es necesario que cada dato tenga su correspondiente tabla. 

    Dejo preparado para la divisi贸n

Estos son los que deber铆an estar divididos:

In [148]:
df_prueba=df_new.copy()

In [149]:
df_prueba.lenguajes_habituales.unique() #Seguro debe ser dividida

array(['Python, R', ' SQL, C, C++, Java', 'Python, C++, Java', 'Python',
       'Python, C, MATLAB', ' C++, Java, Javascript', 'Python, SQL',
       'Python, R, SQL', 'Python, R, C++', 'Python, MATLAB',
       'Python, C, C++, MATLAB', 'Python, SQL, C, Java, Javascript',
       ' None', 'Python, R, SQL, C++', ' R', 'Python, SQL, C++',
       'Python, R, SQL, C, C++, MATLAB', 'Python, C++', 'Python, C, C++',
       'Python, Java', 'Python, C, C++, Java, Javascript, MATLAB',
       'Python, Java, Javascript', 'Python, SQL, Java, Other',
       'Python, SQL, Java', 'Python, C, C++, Other',
       'Python, C++, MATLAB',
       'Python, SQL, C, C++, Java, Javascript, MATLAB',
       'Python, SQL, Java, Javascript, MATLAB, Other', ' R, SQL',
       'Python, SQL, Other', ' SQL, Javascript, Bash', ' C++, Other',
       'Python, SQL, C', ' C++', 'Python, SQL, Bash',
       'Python, C, Javascript', 'Python, Javascript, Bash, MATLAB',
       'Python, Javascript', ' SQL, Javascript', ' SQL, Java',
       'Python, Bash', 'Python, SQL, C, C++, Javascript',
       'Python, R, SQL, Javascript, Julia, Swift',
       'Python, SQL, Javascript, Bash, Other', nan,
       ' C++, Java, Javascript, Other',
       'Python, SQL, C, Javascript, Other',
       'Python, Java, Javascript, Bash', 'Python, Other',
       'Python, SQL, Javascript, Other', ' SQL, C++',
       'Python, R, SQL, Javascript, Bash', ' R, SQL, C++', ' R, C++',
       'Python, SQL, Java, Javascript, Bash, Other', ' C, Java', ' Bash',
       'Python, SQL, C++, Java', 'Python, C, Bash, MATLAB',
       'Python, SQL, C, Javascript', ' C', 'Python, C++, Julia', ' SQL',
       'Python, C, Java, Javascript',
       'Python, R, SQL, C++, Javascript, MATLAB',
       'Python, SQL, C, C++, Java', 'Python, R, C, C++, Javascript',
       'Python, SQL, C, C++, MATLAB',
       'Python, SQL, C, C++, MATLAB, Other',
       'Python, SQL, Java, Javascript, Other', ' Other',
       'Python, SQL, MATLAB, Other', 'Python, R, SQL, MATLAB',
       'Python, SQL, Javascript', 'Python, C++, Bash',
       ' SQL, Javascript, Other', 'Python, C++, Java, Javascript',
       'Python, R, Java',
       'Python, SQL, C, Java, Javascript, Swift, MATLAB',
       'Python, SQL, C, C++, Java, MATLAB', ' R, Bash',
       'Python, R, SQL, C, C++, Julia, Other', ' C, C++',
       'Python, SQL, Java, Bash', 'Python, SQL, C, Bash',
       'Python, R, Bash, Other', 'Python, C',
       'Python, SQL, C, C++, Java, Javascript, Bash',
       'Python, Javascript, Bash', 'Python, C, Bash',
       'Python, SQL, C, C++, Java, Javascript',
       'Python, Javascript, Other', 'Python, SQL, C++, Swift',
       'Python, SQL, C++, Other', 'Python, SQL, Java, MATLAB',
       ' C, MATLAB', 'Python, Swift',
       'Python, R, SQL, Java, Javascript, Bash',
       'Python, SQL, Javascript, Bash', 'Python, SQL, Java, Javascript',
       'Python, C, C++, Java, Bash, MATLAB', ' MATLAB',
       'Python, R, SQL, Bash', 'Python, R, SQL, C, C++',
       'Python, Javascript, Swift, MATLAB', 'Python, C++, Other',
       'Python, C, Java, Bash', ' R, Other',
       'Python, R, SQL, Javascript, Other',
       'Python, SQL, C, Java, Javascript, Bash', 'Python, R, SQL, Other',
       'Python, R, Javascript', 'Python, R, Bash',
       'Python, SQL, C++, Javascript', 'Python, R, SQL, C, C++, Bash',
       'Python, R, Julia', 'Python, R, Other', ' SQL, MATLAB, Other',
       ' C, C++, Javascript, Other',
       'Python, SQL, C, Javascript, Julia, Bash',
       'Python, C++, Javascript',
       'Python, R, C, C++, Bash, MATLAB, Other', 'Python, SQL, MATLAB',
       'Python, Java, MATLAB',
       'Python, R, SQL, C, C++, Java, Javascript, Bash', ' R, SQL, Other',
       'Python, SQL, C++, Java, MATLAB',
       'Python, R, C, C++, Java, MATLAB', 'Python, R, SQL, Javascript',
       'Python, R, SQL, C', 'Python, Javascript, MATLAB',
       'Python, R, MATLAB', 'Python, MATLAB, Other',
       'Python, C, C++, Java', 'Python, R, C, C++, Javascript, Bash',
       'Python, SQL, C, C++', 'Python, SQL, C++, Java, Javascript, Bash',
       'Python, R, SQL, C, C++, Javascript, Bash',
       'Python, SQL, Java, Javascript, Swift',
       'Python, R, SQL, C++, MATLAB', ' Java', 'Python, SQL, Bash, Other',
       'Python, C, Java', 'Python, SQL, C, C++, Bash, Other',
       'Python, SQL, C, Java, Javascript, Other', ' Javascript',
       'Python, SQL, C, Java', ' Java, Javascript',
       'Python, SQL, C++, Java, Bash', ' Java, Other',
       ' SQL, Javascript, Swift, Other', ' R, SQL, C, MATLAB',
       'Python, Julia', 'Python, R, C, C++',
       'Python, R, SQL, Java, Javascript, Julia', ' R, MATLAB',
       'Python, C, Julia, MATLAB', 'Python, C, Bash, Other',
       ' C, C++, Java', 'Python, SQL, C, C++, Java, Javascript, Other',
       'Python, SQL, Javascript, MATLAB',
       'Python, C, C++, Javascript, Julia, Bash',
       'Python, SQL, C++, Bash, MATLAB',
       'Python, SQL, C, C++, Java, Bash', ' C, C++, MATLAB', ' C++, Java',
       'Python, Java, Other', 'Python, R, Java, Javascript',
       'Python, R, SQL, C, C++, Javascript, Other',
       ' SQL, C, C++, MATLAB', ' SQL, C, Javascript, Other',
       'Python, C++, Java, Swift', 'Python, C++, Javascript, Bash',
       'Python, SQL, C++, Javascript, Bash',
       'Python, R, SQL, Javascript, Julia, Bash, MATLAB, Other',
       'Python, C, C++, Javascript', 'Python, R, SQL, Javascript, MATLAB',
       'Python, R, SQL, C++, Java, Javascript, MATLAB',
       'Python, C++, Java, MATLAB', ' SQL, Other',
       'Python, C, C++, Java, Javascript', 'Python, SQL, C, Java, Other',
       'Python, C, Java, Javascript, MATLAB', ' R, MATLAB, Other',
       'Python, R, SQL, C, C++, Java, Javascript, MATLAB', ' C++, MATLAB',
       'Python, R, SQL, Javascript, Bash, MATLAB',
       'Python, R, C, C++, MATLAB', ' Javascript, Other',
       'Python, R, SQL, C++, Java', 'Python, C, Javascript, Bash, MATLAB',
       'Python, SQL, Java, Javascript, Bash',
       'Python, C, C++, Javascript, MATLAB', 'Python, Javascript, Julia',
       'Python, C, C++, Java, MATLAB', 'Python, Java, Bash',
       'Python, C, C++, Java, Javascript, Other',
       'Python, R, Java, Other', ' SQL, Java, Javascript',
       'Python, C, Javascript, Other', ' C++, Julia, Other',
       'Python, R, SQL, C, C++, Java, Javascript',
       'Python, SQL, Javascript, Bash, MATLAB',
       'Python, R, SQL, Java, Javascript, MATLAB',
       'Python, R, SQL, C, C++, Java', ' Java, Bash, Other',
       'Python, R, SQL, Java, Javascript', 'Python, R, SQL, Java',
       ' SQL, C, Java, MATLAB', 'Python, SQL, C, MATLAB',
       'Python, R, SQL, C, MATLAB', 'Python, SQL, C, C++, Java, Other',
       'Python, C, Java, MATLAB', 'Python, R, C++, MATLAB',
       'Python, C++, Javascript, MATLAB',
       'Python, R, SQL, Java, Javascript, Bash, Other',
       ' SQL, Java, Other', 'Python, SQL, Java, MATLAB, Other',
       'Python, SQL, C, C++, Javascript, Bash',
       ' R, SQL, Java, Javascript', ' SQL, C, C++, Java, Javascript',
       'Python, R, SQL, C, C++, Java, Javascript, MATLAB, Other',
       'Python, SQL, C, C++, Java, Javascript, Bash, Other',
       'Python, Bash, Other', 'Python, R, SQL, Java, Bash, MATLAB',
       'Python, R, SQL, C, Java, Javascript, Bash',
       ' SQL, C, C++, Java, MATLAB', 'Python, C, Javascript, MATLAB',
       'Python, SQL, C, C++, Bash, MATLAB',
       'Python, Java, Javascript, Other',
       ' C, C++, Javascript, Bash, Other', 'Python, SQL, C, Java, MATLAB',
       'Python, R, SQL, C++, Java, Javascript', 'Python, C, C++, Bash',
       ' R, Javascript', 'Python, R, C++, Javascript',
       'Python, SQL, C, Java, Javascript, MATLAB',
       ' SQL, Java, Javascript, Swift',
       'Python, R, SQL, C, C++, Java, Javascript, Julia, Swift, Bash, MATLAB',
       ' R, SQL, C++, Other', 'Python, SQL, C++, Bash',
       'Python, SQL, C, C++, Javascript, Bash, MATLAB',
       'Python, C, Java, Other',
       'Python, R, SQL, C, C++, Java, Javascript, Swift, MATLAB',
       ' R, Swift', ' R, C, C++, Java', 'Python, Java, Swift, Other',
       'Python, R, C', 'Python, C++, Java, Bash', 'Python, C, Swift',
       'Python, C++, Julia, MATLAB',
       'Python, R, SQL, C++, Java, Javascript, Swift, MATLAB',
       'Python, R, SQL, Bash, Other',
       'Python, SQL, C, C++, Java, Javascript, Bash, MATLAB',
       'Python, R, SQL, C, C++, Java, MATLAB',
       'Python, SQL, C, C++, Javascript, Other',
       'Python, R, C, Java, Bash', 'Python, C, Javascript, Swift, Other',
       'Python, R, C, Java', 'Python, C, C++, Bash, MATLAB',
       'Python, R, SQL, C++, Other', 'Python, SQL, C++, MATLAB',
       'Python, C++, Java, Other', 'Python, SQL, C++, Java, Javascript',
       'Python, C, C++, Javascript, Julia, Swift',
       'Python, R, SQL, Java, Javascript, Swift',
       'Python, R, SQL, Java, Javascript, Other',
       'Python, SQL, C, C++, Java, Javascript, Swift, Bash, MATLAB',
       'Python, R, SQL, C, C++, Java, Julia, MATLAB, Other',
       'Python, SQL, C, C++, Javascript, Bash, Other', ' R, Java, MATLAB',
       'Python, R, SQL, C, Julia, Other',
       'Python, R, SQL, C, C++, Swift, Bash', ' Bash, MATLAB',
       ' SQL, C, Javascript',
       'Python, R, SQL, C, C++, Java, Javascript, Bash, Other',
       'Python, R, SQL, C, Java', ' R, SQL, C++, MATLAB',
       'Python, SQL, Java, Bash, Other', 'Python, R, C, Other',
       ' C, Other',
       'Python, R, SQL, C, C++, Javascript, Julia, Bash, MATLAB',
       'Python, R, SQL, C, C++, Java, Javascript, Bash, MATLAB',
       ' C, C++, Java, Javascript', ' Javascript, Swift, Other',
       'Python, SQL, C, C++, Swift', 'Python, R, Julia, MATLAB',
       'Python, Javascript, Julia, Bash',
       'Python, SQL, Java, Javascript, Bash, MATLAB',
       'Python, R, SQL, Julia, Bash', 'Python, SQL, C, C++, Bash',
       'Python, R, C, Java, Swift, Bash, MATLAB',
       'Python, SQL, C, Javascript, Bash, MATLAB', ' Swift',
       'Python, SQL, Java, Javascript, MATLAB',
       'Python, C, C++, Javascript, Bash',
       'Python, R, SQL, C, Javascript, MATLAB',
       'Python, SQL, C, C++, Javascript, MATLAB', 'Python, R, SQL, Julia',
       'Python, R, SQL, C, Java, Javascript, Bash, MATLAB',
       ' R, SQL, C, Java, MATLAB', ' R, C++, Other',
       ' R, C++, Java, Javascript, MATLAB',
       'Python, Javascript, Bash, Other', ' SQL, Java, Javascript, Other',
       'Python, SQL, C++, Javascript, Bash, Other', ' SQL, C++, Java',
       ' SQL, C, C++', ' SQL, Bash', 'Python, R, Java, MATLAB',
       'Python, R, SQL, C, Java, Bash, MATLAB',
       'Python, R, C, MATLAB, Other',
       'Python, SQL, C++, Java, Javascript, MATLAB',
       'Python, R, SQL, Java, Javascript, Swift, Bash',
       ' SQL, C, C++, Java, Other', ' R, C', 'Python, R, C++, Bash',
       'Python, R, C, C++, Julia, MATLAB',
       'Python, C, Javascript, MATLAB, Other', ' SQL, C, C++, Javascript',
       'Python, SQL, Swift, MATLAB',
       'Python, SQL, C++, Java, Javascript, Other',
       'Python, R, SQL, C, C++, Julia, Bash, MATLAB',
       ' R, SQL, C, Javascript, Bash', 'Python, R, C, Bash, MATLAB',
       'Python, SQL, C, C++, Other',
       'Python, C, C++, Java, Javascript, Julia, Bash', ' MATLAB, Other',
       'Python, SQL, C++, Java, Swift',
       'Python, R, SQL, C, Java, Javascript',
       'Python, R, C++, Java, Bash', 'Python, R, SQL, C, Javascript',
       'Python, C, Javascript, Bash', ' SQL, C++, Java, Other',
       'Python, R, C, MATLAB', ' R, Java', 'Python, Julia, MATLAB',
       'Python, C, Other',
       'Python, R, SQL, C, C++, Java, Javascript, Other',
       'Python, SQL, Javascript, MATLAB, Other',
       'Python, SQL, C++, Javascript, MATLAB', 'Python, R, SQL, C, Bash',
       ' SQL, Java, Bash', 'Python, SQL, Javascript, Swift, Other',
       'Python, SQL, C++, Javascript, Other',
       'Python, R, SQL, C++, Javascript, Swift, Other',
       'Python, R, SQL, Swift', 'Python, R, SQL, C++, Bash',
       ' SQL, C, C++, Javascript, Other',
       'Python, SQL, C, C++, Java, Javascript, Bash, MATLAB, Other',
       'Python, R, SQL, C, C++, Java, Bash',
       'Python, C++, Javascript, Other', ' SQL, C, MATLAB',
       ' SQL, C++, Javascript, MATLAB, Other',
       'Python, R, C, C++, Java, Javascript',
       'Python, SQL, C, C++, Javascript, Swift, MATLAB, Other',
       ' C, C++, Javascript, MATLAB', 'Python, R, SQL, MATLAB, Other',
       ' SQL, C++, Java, Javascript',
       'Python, R, SQL, C++, Java, Javascript, Other',
       'Python, R, SQL, Bash, MATLAB',
       'Python, SQL, C, C++, Javascript, Swift',
       'Python, R, SQL, Javascript, Bash, Other', ' R, SQL, Java',
       'Python, SQL, Bash, MATLAB', 'Python, R, SQL, Julia, MATLAB',
       'Python, Java, Bash, Other', ' SQL, C, Java, Bash, Other',
       'Python, R, C, C++, Bash', ' C, C++, Javascript', ' SQL, C, Java',
       'Python, R, SQL, C++, Javascript',
       'Python, R, SQL, C++, Java, Julia, MATLAB',
       'Python, SQL, C++, Java, Bash, Other',
       'Python, SQL, C, C++, Java, Javascript, Swift',
       'Python, R, Java, MATLAB, Other', ' C++, Javascript, Other',
       'Python, R, C++, Julia, Bash', 'Python, R, Javascript, Bash',
       'Python, SQL, C, Javascript, Bash',
       'Python, R, SQL, C, C++, Other',
       'Python, R, C, C++, Javascript, Other', ' C, Javascript',
       ' SQL, Java, Bash, Other', 'Python, R, Java, Javascript, MATLAB',
       'Python, SQL, C, C++, Java, Javascript, MATLAB, Other',
       'Python, R, C++, Bash, Other',
       'Python, SQL, C++, Java, Swift, MATLAB', ' SQL, Swift, Other',
       'Python, R, Java, Swift, Bash',
       'Python, R, SQL, C, C++, Java, Javascript, Bash, MATLAB, Other',
       ' SQL, C', 'Python, C++, Java, Javascript, MATLAB',
       ' Java, Javascript, Bash', ' Javascript, Bash', ' R, C, C++',
       'Python, Swift, Other', 'Python, Java, Javascript, MATLAB',
       'Python, R, SQL, C, C++, Java, Javascript, Swift, Bash',
       'Python, R, SQL, C, C++, Java, Javascript, Julia, MATLAB',
       'Python, C++, Javascript, Bash, MATLAB',
       ' SQL, C, C++, Javascript, MATLAB',
       'Python, R, SQL, Javascript, Julia, Bash', ' R, SQL, C++, Java',
       'Python, SQL, C++, Julia',
       'Python, SQL, C, Java, Javascript, Julia', 'Python, Julia, Other',
       'Python, SQL, Javascript, Julia',
       'Python, SQL, C, Javascript, Bash, Other', 'Python, R, C++, Other',
       ' SQL, C, Java, Javascript', 'Python, R, SQL, C, Java, MATLAB',
       'Python, C++, Java, Swift, Bash', 'Python, SQL, Swift, Bash',
       ' R, Java, Other', 'Python, R, SQL, C, C++, Javascript',
       'Python, C, C++, Javascript, Bash, Other', ' R, SQL, MATLAB',
       ' R, SQL, Javascript',
       'Python, R, SQL, C, C++, Javascript, MATLAB, Other',
       'Python, SQL, C, Javascript, Swift',
       'Python, SQL, C++, Java, Other', 'Python, R, SQL, C++, Julia',
       'Python, SQL, C, C++, Swift, MATLAB',
       'Python, Java, Javascript, Bash, Other',
       'Python, R, SQL, Java, Bash',
       'Python, R, SQL, C, C++, Java, MATLAB, Other',
       'Python, R, SQL, C, C++, Java, Javascript, Julia, Bash, MATLAB',
       'Python, R, SQL, C++, Javascript, Bash',
       'Python, SQL, Java, Swift', 'Python, R, Java, Bash',
       'Python, R, C, C++, Java, Javascript, Bash',
       'Python, R, SQL, C, C++, Javascript, MATLAB', ' Julia',
       ' C++, Java, Javascript, Swift',
       'Python, R, SQL, C, C++, Bash, MATLAB',
       'Python, R, SQL, C, C++, Java, Swift',
       'Python, R, SQL, C, Java, Javascript, Swift, MATLAB',
       ' R, SQL, Bash', 'Python, C, C++, Javascript, Swift, Other',
       ' C, C++, Julia', 'Python, R, SQL, Java, MATLAB',
       'Python, R, C, C++, Java, Javascript, MATLAB',
       'Python, R, SQL, C, C++, Javascript, Swift, MATLAB, Other',
       'Python, Julia, Bash', ' R, SQL, C, Java, Javascript',
       'Python, Javascript, Swift, Other',
       'Python, R, Javascript, MATLAB',
       'Python, SQL, C, C++, Swift, Bash, MATLAB',
       'Python, R, SQL, Java, Javascript, Bash, MATLAB',
       'Python, C, C++, MATLAB, Other',
       'Python, R, SQL, C++, Java, MATLAB', 'Python, Bash, MATLAB',
       ' SQL, C, Java, Javascript, Other', 'Python, R, Swift',
       'Python, SQL, Java, Julia', 'Python, SQL, C++, Java, Julia',
       'Python, R, Bash, MATLAB', 'Python, C++, Swift',
       ' R, C, Bash, MATLAB', ' R, SQL, Bash, MATLAB',
       ' R, Javascript, Other', ' SQL, C++, MATLAB', ' R, Julia, MATLAB',
       'Python, R, C++, Bash, MATLAB',
       'Python, C, Java, Javascript, Other',
       'Python, SQL, C, C++, Javascript, Bash, MATLAB, Other',
       'Python, R, Javascript, Bash, Other', ' R, Java, Javascript',
       ' C, C++, Swift, Bash', 'Python, C, MATLAB, Other',
       'Python, R, Java, Julia, MATLAB', 'Python, C, C++, Bash, Other',
       'Python, R, C, C++, Javascript, Julia', 'Python, SQL, Swift',
       ' Java, Javascript, Other', ' C, Java, MATLAB',
       'Python, R, SQL, C, C++, Java, Bash, MATLAB',
       'Python, R, C++, Java', ' Julia, Swift, MATLAB',
       'Python, R, SQL, C++, Julia, MATLAB', 'Python, Swift, Bash',
       ' SQL, Javascript, Bash, Other', 'Python, R, C++, MATLAB, Other',
       'Python, R, SQL, C, Java, Javascript, Julia, Bash',
       'Python, R, SQL, C++, Java, Bash',
       'Python, SQL, Java, Julia, MATLAB',
       'Python, R, SQL, C, C++, Javascript, Bash, MATLAB',
       'Python, R, SQL, C++, Java, Javascript, Swift, Bash, MATLAB',
       ' SQL, Java, Javascript, Bash',
       'Python, C, C++, Java, Javascript, MATLAB, Other',
       'Python, SQL, C, Javascript, MATLAB', ' C, C++, MATLAB, Other',
       ' SQL, Javascript, Swift', ' Swift, Other',
       'Python, SQL, C, C++, Javascript, Julia, MATLAB',
       'Python, R, C, C++, Java', ' R, SQL, C, C++',
       ' R, SQL, C++, Javascript, MATLAB, Other',
       ' R, SQL, C, C++, Other', 'Python, R, C, Java, Javascript',
       'Python, R, SQL, C++, Bash, MATLAB',
       'Python, R, C, C++, Bash, MATLAB', ' SQL, C, C++, Other',
       'Python, SQL, C, Java, Bash, Other', ' C++, Java, MATLAB',
       'Python, SQL, Java, Javascript, Swift, Bash, Other',
       'Python, Julia, MATLAB, Other',
       'Python, R, Java, Javascript, Swift',
       'Python, SQL, Javascript, Julia, Bash',
       'Python, R, Javascript, Other',
       'Python, R, SQL, C, C++, Java, Javascript, Julia, Bash',
       ' R, C, Other', 'Python, R, SQL, Javascript, Julia',
       'Python, SQL, C, Other', 'Python, R, Swift, MATLAB',
       'Python, R, SQL, Julia, Bash, Other',
       'Python, R, SQL, Swift, MATLAB', ' SQL, C++, Java, Bash',
       'Python, C, Javascript, Bash, Other',
       'Python, SQL, Javascript, Julia, Bash, Other',
       'Python, C, C++, Java, Other',
       'Python, C, C++, Java, Javascript, Bash', ' C, Java, Other',
       ' C++, MATLAB, Other', 'Python, SQL, Julia',
       'Python, C++, Julia, Swift, Bash', ' SQL, C++, Java, MATLAB',
       ' SQL, Bash, Other', 'Python, C++, Java, Javascript, Bash',
       'Python, R, SQL, C, C++, Java, Javascript, Swift',
       'Python, R, SQL, Java, Swift, Bash', ' SQL, C, Other',
       'Python, C, C++, Javascript, Other',
       'Python, R, SQL, Java, Bash, Other',
       ' SQL, C++, Javascript, Other',
       'Python, R, SQL, C, Java, Javascript, MATLAB, Other',
       'Python, C++, Java, Javascript, Other',
       'Python, R, SQL, C, Java, Bash, MATLAB, Other',
       'Python, R, C++, Javascript, Swift', 'Python, R, C, C++, Other',
       'Python, R, SQL, C, Bash, Other', ' C++, Javascript',
       'Python, C++, MATLAB, Other', ' Javascript, Bash, Other',
       ' Javascript, MATLAB', ' R, C, C++, Other',
       'Python, R, C, Java, MATLAB',
       'Python, SQL, C, C++, Java, Javascript, Julia, Bash',
       'Python, R, SQL, C, C++, MATLAB, Other',
       'Python, R, SQL, C, Java, Javascript, Other',
       'Python, SQL, C++, Swift, Bash', ' SQL, C, Bash, Other',
       ' R, C, C++, Java, Javascript, MATLAB',

In [137]:
import re

In [ ]:
patron= r".*[Python].*"
patron= r".*[R].*"
patron= r".*[SQL].*"
patron= r".*[C++].*"
patron= r".*[Java].*"
patron= r".*[Javascript].*"

In [150]:
class separador:
    
    def pyhton(col):
    try:
        if re.findall(patron.findall('Python'), col):
            return "python"
    except:
        pass

    def R(col):
        try:
        if re.findall(patron.findall('R'), col):
            return "python"
    except:
        pass

In [151]:
def aplicacion(col):

    df_prueba[col + "python"] =df_prueba[col].apply(python)

In [152]:
df_prueba.head()

,edad,genero,pais,educacion,perfil_profesional,experiencia_programando,herramientas_trabajo,a帽o_uso_machine_learning,industria_actual,tama帽o_compa帽铆a,trabajadores_datascience,salario,herramienta_analisis_datos,lenguajes_habituales,entorno_desarrollo,bibliotecas_visualizaci贸n,herramientas_machine_learning,programas_big_data,herramientas_bi,notebooks_kaggle,notebooks_colab,publicaciones_github,publicaciones_kaggle,plat_coursera,plat_edx,plat_kaggle,plat_datacamp,plat_fast.ai,plat_udacity,plat_udemy,plat_linkedinlearning,plat_cloudcertification,plat_universitycourses,plat_ninguno,plat_otros,rrss_twitter,rrss_email/newsletters,rrss_reddit,rrss_kaggle,rrss_forums,rrss_yotube,rrss_podcast,rrss_blogs,rrss_journal,rrss_slackcommunity,rrss_none,rrss_others,lenguaje_habitual_python
0,50-54,Man,India,Bachelors degree,Other,5-10 years,A laptop,5-10 years,Manufacturing/Fabrication,50-249 employees,3-4,"25,000-29,999","Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret",PostgreSQL,None,NaN,Colab Notebooks,GitHub,Kaggle,Coursera,edX,Kaggle Learn Courses,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,"Email newsletters (Data Elixir, O'Reilly Data ...",NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, OReilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,None
1,50-54,Man,Indonesia,Masters degree,Program/Project Manager,20+ years,"A cloud computing platform (AWS, Azure, GCP, h...",< 1 year,Manufacturing/Fabrication,"1000-9,999 employees",1-2,"60,000-69,999","Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",Matplotlib,Scikit-learn,NaN,NaN,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",University Courses (resulting in a university ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,None
2,22-24,Man,Pakistan,Masters degree,Software Engineer,1-3 years,A laptop,I do not use machine learning methods,Academics/Education,"1000-9,999 employees",0,$0-999,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Matplotlib,NaN,"MySQL , MongoDB",None,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,DataCamp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN,NaN,None
3,45-49,Man,Mexico,Doctoral degree,Research Scientist,20+ years,"A cloud computing platform (AWS, Azure, GCP, h...",5-10 years,Academics/Education,"1000-9,999 employees",0,"30,000-39,999","Local development environments (RStudio, Jupyt...",Python,"Spyder,Jupyter Notebook",Matplotlib,"Scikit-learn , TensorFlow ,Keras",NaN,NaN,NaN,Colab Notebooks,NaN,NaN,Coursera,edX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,"Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,None
4,45-49,Man,India,Doctoral degree,Other,< 1 years,"A cloud computing platform (AWS, Azure, GCP, h...",10-20 years,Academics/Education,50-249 employees,5-9,"30,000-39,999","Local development environments (RStudio, Jupyt...","Python, C, MATLAB","Spyder,MATLAB ,Jupyter Notebook","Matplotlib ,Seaborn ,Ggplot / ggplot2","Scikit-learn ,PyTorch ,LightGBM",None,Microsoft Power BI,NaN,NaN,NaN,NaN,NaN,NaN,Kaggle Learn Courses,NaN,NaN,NaN,Udemy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN,None

In [128]:
df_new.entorno_desarrollo.unique()

array([' Vim / Emacs', ' Notepad++,Jupyter Notebook',
       'PyCharm ,Jupyter Notebook, Other', ...,
       'Visual Studio ,Visual Studio Code (VSCode) , Notepad++, Vim / Emacs,MATLAB ,Jupyter Notebook',
       'RStudio ,Visual Studio ,PyCharm , Spyder',
       'RStudio ,Visual Studio ,Visual Studio Code (VSCode) , Notepad++, Vim / Emacs'],
      dtype=object)

In [129]:
df_new.bibliotecas_visualizaci贸n.unique()

array([' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ,Leaflet / Folium ',
       ' Matplotlib ', ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ',
       'Geoplotlib ', ' Matplotlib ,Plotly / Plotly Express ',
       ' Matplotlib ,Seaborn ', nan, 'Plotly / Plotly Express ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ', ' None',
       'Ggplot / ggplot2 ', ' Matplotlib ,Seaborn , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ',
       'Altair ', ' Matplotlib ,Ggplot / ggplot2 ',
       ' Matplotlib ,Seaborn ,Bokeh ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ',
       'Seaborn ,Ggplot / ggplot2 ,Shiny ',
       'Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Bokeh ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Geoplotlib ', ' Other',
       'Seaborn ', ' Matplotlib ,Altair ', ' Matplotlib ,Seaborn ,D3 js ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,D3 js ',
       ' Matplotlib ,D3 js ', 'Ggplot / ggplot2 ,Geoplotlib ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ',
       'Ggplot / ggplot2 ,Altair ,Bokeh ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Altair ',
       ' Matplotlib ,Plotly / Plotly Express ,Bokeh , Other',
       ' Matplotlib ,Ggplot / ggplot2 ,Shiny ',
       'Plotly / Plotly Express ,Ggplot / ggplot2 ', 'D3 js ',
       'Seaborn ,Ggplot / ggplot2 ',
       ' Matplotlib ,Ggplot / ggplot2 ,Shiny ,D3 js ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Bokeh ',
       'Seaborn ,Ggplot / ggplot2 ,D3 js ,Bokeh ', 'Seaborn ,Bokeh ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Altair ,Bokeh ',
       ' Matplotlib ,Seaborn ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Geoplotlib ',
       'Ggplot / ggplot2 ,Shiny ', 'Seaborn ,Altair ',
       'Seaborn ,Plotly / Plotly Express ,Geoplotlib ',
       ' Matplotlib , Other', ' Matplotlib ,Geoplotlib ',
       'Ggplot / ggplot2 ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Altair ,Geoplotlib ',
       ' Matplotlib ,Bokeh ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Shiny ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Altair ,Bokeh ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Geoplotlib ',
       'Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Altair ,Bokeh ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ',
       ' Matplotlib ,Plotly / Plotly Express ,Leaflet / Folium ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ',
       ' Matplotlib ,Shiny ,Altair ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ,Bokeh ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Bokeh ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,D3 js ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Altair ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ,Geoplotlib ',
       ' Matplotlib ,Plotly / Plotly Express ,Geoplotlib , Other',
       ' Matplotlib ,Ggplot / ggplot2 ,Shiny ,Geoplotlib ',
       'Seaborn ,Plotly / Plotly Express ', 'Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Altair ,Leaflet / Folium ',
       'Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Bokeh ',
       'Seaborn ,Plotly / Plotly Express ,Shiny ,Leaflet / Folium ',
       'Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Leaflet / Folium ',
       'Bokeh ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Bokeh ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Bokeh ,Geoplotlib ,Leaflet / Folium ',
       'Seaborn ,Ggplot / ggplot2 ,Shiny ,Geoplotlib ',
       'Seaborn ,Plotly / Plotly Express ,Shiny ,D3 js ,Leaflet / Folium ',
       'Plotly / Plotly Express ,D3 js ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Bokeh ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Shiny ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ,Leaflet / Folium ',
       ' Matplotlib ,Plotly / Plotly Express ,Geoplotlib ',
       'Seaborn ,D3 js ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ,Geoplotlib ',
       ' Matplotlib ,Ggplot / ggplot2 ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Bokeh ,Leaflet / Folium ',
       ' Matplotlib ,Plotly / Plotly Express ,D3 js ',
       ' Matplotlib ,Plotly / Plotly Express ,D3 js ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Altair ,Bokeh ,Geoplotlib ,Leaflet / Folium ',
       'Shiny ', ' Matplotlib ,Seaborn ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,D3 js ,Bokeh ',
       ' Matplotlib ,Seaborn ,Bokeh ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ,Altair ,Bokeh ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,D3 js ,Leaflet / Folium , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Geoplotlib ',
       ' Matplotlib ,Ggplot / ggplot2 ,Shiny ,Altair ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Shiny ,Leaflet / Folium ',
       ' Matplotlib ,Ggplot / ggplot2 ,D3 js ', 'Seaborn ,Geoplotlib ',
       'Altair ,Bokeh ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Altair ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,D3 js ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Bokeh ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Bokeh ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Shiny ,Bokeh ',
       ' Matplotlib ,Seaborn ,D3 js ,Leaflet / Folium ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Bokeh ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Altair ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ,Geoplotlib , Other',
       ' Matplotlib ,Ggplot / ggplot2 , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,D3 js ,Bokeh ,Leaflet / Folium ',
       ' Matplotlib ,Leaflet / Folium , Other', 'Seaborn , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ,Altair ,Bokeh ,Geoplotlib ,Leaflet / Folium ',
       'D3 js ,Leaflet / Folium ', 'Shiny ,Altair ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Bokeh ,Leaflet / Folium ',
       'Seaborn ,Plotly / Plotly Express ,Bokeh ',
       ' Matplotlib ,Seaborn ,Bokeh ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ',
       'Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ',
       ' Matplotlib ,Plotly / Plotly Express , Other',
       'Seaborn ,Plotly / Plotly Express ,Shiny ',
       ' Matplotlib ,Plotly / Plotly Express ,Shiny ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Bokeh ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Shiny ,D3 js ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Bokeh ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Bokeh , Other',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,D3 js ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Geoplotlib ',
       ' Matplotlib ,Plotly / Plotly Express ,Bokeh ',
       'Plotly / Plotly Express , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ,Altair ,Bokeh ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Altair ,Bokeh ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Bokeh ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Altair ,Leaflet / Folium , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Bokeh ,Geoplotlib , Other',
       ' Matplotlib ,Ggplot / ggplot2 ,Leaflet / Folium ',
       ' Matplotlib ,Ggplot / ggplot2 ,Altair ',
       'Ggplot / ggplot2 , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ,Bokeh ,Leaflet / Folium ',
       'Plotly / Plotly Express ,D3 js ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Shiny ,D3 js ',
       ' Matplotlib ,D3 js ,Geoplotlib ',
       'Plotly / Plotly Express ,Shiny ',
       'Plotly / Plotly Express ,Ggplot / ggplot2 ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Altair ,Leaflet / Folium ',
       'Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ',
       'D3 js ,Altair ',
       'Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Shiny ,Bokeh ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ,Altair ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Altair ', ' Matplotlib ,Seaborn ,Shiny ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Altair ,Bokeh ',
       ' Matplotlib ,Ggplot / ggplot2 ,Shiny ,Geoplotlib ,Leaflet / Folium ',
       'Bokeh ,Geoplotlib ', 'Plotly / Plotly Express ,Altair ',
       ' Matplotlib ,Geoplotlib , Other',
       'Ggplot / ggplot2 ,Shiny ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Altair ,Bokeh ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ,Bokeh ,Leaflet / Folium ',
       'Plotly / Plotly Express ,Geoplotlib ',
       ' Matplotlib ,Ggplot / ggplot2 ,Bokeh ',
       'Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Geoplotlib ',
       'Seaborn ,Ggplot / ggplot2 ,Shiny , Other',
       ' Matplotlib ,D3 js ,Geoplotlib ,Leaflet / Folium ',
       'Shiny ,D3 js ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express , Other',
       'Seaborn ,Plotly / Plotly Express , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js , Other',
       ' Matplotlib ,Plotly / Plotly Express ,Altair ,Bokeh , Other',
       'Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Geoplotlib , Other',
       'Altair , Other',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ,D3 js ,Bokeh ',
       'Plotly / Plotly Express ,Shiny ,D3 js ',
       'Ggplot / ggplot2 ,Bokeh ', 'Seaborn ,Shiny ',
       ' Matplotlib ,Seaborn ,D3 js , Other',
       ' Matplotlib ,D3 js ,Altair ',
       'Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ,Leaflet / Folium ',
       ' Matplotlib ,Shiny ',
       'Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ',
       ' Matplotlib ,D3 js ,Leaflet / Folium ',
       'Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Bokeh ,Geoplotlib ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Leaflet / Folium ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ',
       'Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ',
       'Seaborn ,Bokeh ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny , Other',
       'Plotly / Plotly Express ,Shiny ,Geoplotlib ,Leaflet / Folium ',
       'Ggplot / ggplot2 ,Shiny ,Leaflet / Folium , Other',
       ' Matplotlib ,Seaborn ,D3 js ,Altair ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Altair ,Bokeh ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Shiny ,D3 js ,Bokeh ',
       ' Matplotlib ,Shiny ,D3 js ', 'Seaborn ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Geoplotlib , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,D3 js ,Bokeh ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ,Altair ',
       'Shiny ,Altair ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ,Bokeh ',
       ' Matplotlib ,Ggplot / ggplot2 ,Shiny ,Leaflet / Folium ',
       'Plotly / Plotly Express ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Altair ,Bokeh ,Geoplotlib ',
       'Plotly / Plotly Express ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Shiny ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Ggplot / ggplot2 ,Altair ,Bokeh ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,D3 js ,Bokeh ',
       ' Matplotlib ,Seaborn ,Altair ,Geoplotlib ',
       'Plotly / Plotly Express ,Ggplot / ggplot2 ,Geoplotlib ',
       'Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Leaflet / Folium ',
       'D3 js ,Bokeh ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Bokeh ,Geoplotlib ',
       'Ggplot / ggplot2 ,D3 js ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,D3 js ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ,Bokeh ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ,Geoplotlib ,Leaflet / Folium ',
       'Plotly / Plotly Express ,D3 js , Other',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Altair ',
       'Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Shiny ,D3 js ,Altair ,Bokeh ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Geoplotlib ,Leaflet / Folium ',
       'Seaborn ,Ggplot / ggplot2 ,Shiny ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Bokeh ,Leaflet / Folium , Other',
       'Geoplotlib , Other',
       ' Matplotlib ,Ggplot / ggplot2 ,Geoplotlib , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Altair ,Geoplotlib ',
       'Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Altair ',
       'Plotly / Plotly Express ,Bokeh , Other',
       ' Matplotlib ,Plotly / Plotly Express ,Shiny ',
       ' Matplotlib ,D3 js , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,D3 js ,Altair ',
       ' Matplotlib ,Seaborn ,Altair ,Bokeh ', 'D3 js , Other',
       'Seaborn ,Ggplot / ggplot2 ,Shiny ,D3 js ,Altair ,Geoplotlib ,Leaflet / Folium , Other',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ,Leaflet / Folium ',
       'Ggplot / ggplot2 ,Shiny ,D3 js ,Leaflet / Folium ',
       'Seaborn ,Plotly / Plotly Express ,Bokeh ,Leaflet / Folium ',
       ' Matplotlib ,Ggplot / ggplot2 ,D3 js ,Geoplotlib ',
       'Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Bokeh ',
       'Ggplot / ggplot2 ,Shiny ,Geoplotlib ',
       'Plotly / Plotly Express ,Ggplot / ggplot2 ,Bokeh ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny , Other',
       'Ggplot / ggplot2 ,Shiny , Other',
       'Ggplot / ggplot2 ,Shiny ,D3 js ',
       ' Matplotlib ,Seaborn ,D3 js ,Geoplotlib ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Bokeh ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ,Altair ,Bokeh ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Plotly / Plotly Express ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,D3 js ,Bokeh ',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ,Bokeh ,Geoplotlib ',
       'Plotly / Plotly Express ,Ggplot / ggplot2 ,D3 js ',
       'Leaflet / Folium , Other', 'Bokeh , Other', 'D3 js ,Bokeh ',
       ' Matplotlib ,Altair ,Geoplotlib ',
       'Seaborn ,Altair ,Bokeh ,Geoplotlib ,Leaflet / Folium ',
       'Seaborn ,Plotly / Plotly Express ,Leaflet / Folium ',
       'Seaborn ,Plotly / Plotly Express ,D3 js ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,D3 js ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ,Bokeh ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Ggplot / ggplot2 ,Shiny ,Altair ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Altair , Other',
       ' Matplotlib ,D3 js ,Altair ,Leaflet / Folium ',
       ' Matplotlib ,Shiny ,Leaflet / Folium ', 'Shiny , Other',
       ' Matplotlib ,Shiny ,Bokeh ',
       'Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny , Other',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,Altair ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Altair ,Bokeh ,Geoplotlib ',
       ' Matplotlib ,Ggplot / ggplot2 ,D3 js , Other',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Bokeh ,Geoplotlib ',
       'Ggplot / ggplot2 ,Shiny ,Bokeh ',
       ' Matplotlib ,Seaborn ,Bokeh ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Bokeh ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Geoplotlib ,Leaflet / Folium , Other',
       'Plotly / Plotly Express ,Altair ,Bokeh , Other',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Bokeh ,Geoplotlib ',
       ' Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ,Bokeh ,Geoplotlib ,Leaflet / Folium ',
       'Seaborn ,Plotly / Plotly Express ,D3 js ,Bokeh ,Leaflet / Folium ',
       'Shiny ,D3 js ,Bokeh ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,D3 js ,Bokeh ,Leaflet / Folium ',
       'Altair ,Leaflet / Folium ', 'Shiny ,Leaflet / Folium , Other',
       ' Matplotlib ,Plotly / Plotly Express ,Ggplot / ggplot2 , Other',
       'Ggplot / ggplot2 ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Altair ,Bokeh ,Leaflet / Folium ',
       ' Matplotlib ,Shiny ,D3 js , Other',
       ' Matplotlib ,Plotly / Plotly Express ,D3 js ,Leaflet / Folium ',
       ' Matplotlib ,Geoplotlib ,Leaflet / Folium ',
       ' Matplotlib ,Seaborn ,Plotly / Plotly Express ,Ggplot / ggplot2 ,Shiny ,D3 js ,Geoplotlib ',
       'Shiny ,Leaflet / Folium ', ' Matplotlib ,Seaborn ,Bokeh , Other',
       'Seaborn ,Ggplot / ggplot2 ,Shiny ,Bokeh ',
       'Plotly / Plotly Express ,Altair ,Leaflet / Folium ',

In [130]:
df_new.herramientas_machine_learning.unique()

array(['Scikit-learn , TensorFlow ,Caret ', 'Scikit-learn ', nan, ...,
       'JAX ,Huggingface ', 'PyTorch ,LightGBM ,Prophet ,H2O 3 ',
       ' TensorFlow ,Keras ,PyTorch ,LightGBM ,PyTorch Lightning '],
      dtype=object)

In [131]:
df_new.programas_big_data.unique()

array([' PostgreSQL ', nan, 'MySQL , MongoDB ', ...,
       ' MongoDB , Microsoft SQL Server , Amazon Redshift ',
       'MySQL , SQLite , MongoDB , Google Cloud BigTable ',
       ' PostgreSQL , SQLite , MongoDB , Microsoft SQL Server , Amazon Redshift '],
      dtype=object)

In [ ]:
df_new[['col_1', 'col2']] = df['nombre columna actual'].str.split(',', expand=True, n=1)

# Outliers , box plot , escribir algo sobre ellos, valorar si los dejamos o no

In [ ]:
#Laura

# Poner la funcion de eliminacion de outliers

# Contear los nulos, me los quedo ? no me los quedo?

In [ ]:
#Alicia

- No podriamos saber los outliers sin columnas numericas, por lo que tendriamos que convertirlas antes o guiarnos en vez de por outliers, por los nulos.

In [ ]:
df_new.dtype

- Identificamos el n煤mero de nulos por columna

In [ ]:
nulos = pd.DataFrame((df_new.isnull().sum() * 100) / df_new.shape[0]).reset_index()
nulos.columns = ["columna", "porcentaje"]
nulos

Tenemos mas de una columna con m谩s del 50% de los datos nulos, pero anteriormente en la elecci贸n de columnas hemos decidido quedarnoslo, por lo que ahora no tendr铆a mucho sentido eliminar esas columnas.

Como todas las variables son categoricas reemplazariamos los nulos por la moda o por algun str. Por ejemplo: 'Unknown'

In [ ]:
df_new_categoricas = df_new.select_dtypes(include = 'object')

In [ ]:
#Podria la moda en los que tengan menor porcentaje de nulos

In [ ]:
for i in df_new_categoricas:
    df_new_categoricas[i].fillna(df_new_categoricas.mode()inplace = True)

In [ ]:
#Para el resto de variables

In [ ]:
for i in df_new_categoricas:
    df_new_categorica[i].replace(np.nan, 'Unknow', inplace=True)

# Ver mediana, moda, media, bla bla, hablar un poco de eso

# Columnas numericas o categoricas

# codificacion de las variables categoricas (nominales,ordinales)

# Normalizacion y estandarizacion

In [ ]:
#Olivia

<font color='skyblue'> Funci贸n para ver estad铆stos. Misma funci贸n para todas las variables num茅ricas. Habr谩 que llamarla con la columna tantas veces como columnas queramos consultar.

In [ ]:
def estadisticos(x):
    
    media = np.mean(df_new[x])
    print('La media de', x, 'es de:', media) 
    
    mediana = np.median(df_new[x])
    print('La mediana de', x, 'es:', mediana)

    moda, frecuencia = stats.mode(df_new[x])
    print('La moda de', x, 'es:', moda,'y la frecuencia es:', frecuencia)

    minimo = np.min(df_new[x])
    print('El valor m铆nimo de', x, 'es:', minimo)

    maximo = np.max(df_new[x])
    print('El valor m谩ximo de', x, 'es:', maximo)

In [ ]:
estadisticos()

<font color ='skyblue'> Variables num茅ricas y categ贸ricas.

In [ ]:
numericas = df_new.select_dtypes(include = np.number)
numericas.head()

In [ ]:
categoricas = df_new.select_dtypes(include=[object])

<font color='skyblue'>Codificaci贸n de las variables categ贸ricas. He elegido el label enconding porque como a帽un no sabemos qu茅 variables queremos a煤n hay que elegirlas y limpiar las columnas, si es que hay algo que limpiar. Esta forma me parec铆a m谩s sencilla pero si a alguien no le gusta se cambia en un pisp谩s 
(dejo planteado un ordinal encoding por si hay alguna variable que NO queramos que tenga una clasificaci贸n aleatoria.)

In [ ]:
#hay que poner esto arriba para que funcione
from sklearn.preprocessing import LabelEncoder 
from sklearn.preprocessing import OrdinalEncoder

In [ ]:
label_encoded_df = df_new.copy()

In [ ]:
le = LabelEncoder()

In [ ]:
for col in label_encoded_df.select_dtypes(include='object').columns:
    label_encoded_df[col]=le.fit_transform(label_encoded_df[col])

In [ ]:
label_encoded_df.head()

<font color = 'sky blue'>Aqu铆 dejo planteado el encoding para ordinales

In [ ]:
#df_new[columna_ordinal].unique()
#orden = [ AQUI INTRODUCIMOS LOS VALORES NICOS DEL .unique DE ANTES EN EL ORDEN QUE QUERAMOS]

In [ ]:
# def ordinal_encoder(df, columna, orden_valores):
     
#     ordinal = OrdinalEncoder(categories = [orden], dtype = int)

#     transformados = ordinal.fit_transform(df[[columna]])
    
#     transformados_df = pd.DataFrame(transformados)

#     transformados_df.columns = ordinal.nombres_nuevos
    
#     df_new[columna] = transformados_df
     
#     return df

<font color = 'skyblue'> NORMALIZACIN

<font color = 'skyblue'>

Voy a usar directamente el boxcox para asegurarnos de que tenemos nuestra campana de Gauss como tiene que ser.

(y porque me gusta decir boxcox )

In [ ]:
from scipy import stats

In [ ]:
numericas[la_columna_que_queramos], lambda_ajustada = stats.boxcox(numericas['SalePrice'])

In [ ]:
numericas.head()

In [ ]:
fig, axes = plt.subplots(1, 2, figsize = (15,5))

axes[0].set_title('columna original')
axes[1].set_title('columna normalizada')

sns.distplot(numericas['nombre_columna'] ,ax = axes[0])
sns.distplot(numericas['nombre_columna_normalizada'], ax = axes[1]);

<font color = 'skyblue'> ESTANDARIZACIN

He elegido el RobustSkaler para que los outliers afecten lo menos posible. Lo mismo, si no os convence se cambia :)

In [ ]:
from sklearn.preprocessing import RobustScaler

In [ ]:
robust = RobustScaler()

In [ ]:
robust.fit(numericas)

In [ ]:
x_robust = robust.transform(numericas)

In [ ]:
numericas_robust = pd.DataFrame(x_robust, columns = numericas.columns)
numericas_robust.head()

In [ ]:
fig, axes = plt.subplots(1, 2, figsize = (15,5))

axes[0].set_title('columna original')
axes[1].set_title('columna estandarizada')

sns.distplot(numericas['columna'] ,ax = axes[0])
sns.distplot(numericas['columna_nueva_con_la_estandarizaci贸n'], ax = axes[1]);

# **Gr谩ficas**

# Conclusiones (opcional)